<template>
    <div>
        <img class="image" v-for="(image, i) in images" :src="image" @click="index = i" alt="">
        <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>
    </div>
</template>

<script>

    import VueGallerySlideshow from 'vue-gallery-slideshow'
    // import {Swiper, SwiperSlide} from 'vue-awesome-swiper'
    import 'swiper/css/swiper.css'
    import 'swiper/js/swiper.esm.js'

    export default {
        data() {
            return {
                // swiperOption: {
                //     slidesPerView: 3,
                //     spaceBetween: 30,
                //     slidesPerGroup: 3,
                //     loop: true,
                //     loopFillGroupWithBlank: true,
                //     pagination: {
                //         el: '.swiper-pagination',
                //         clickable: true
                //     },
                //     navigation: {
                //         nextEl: '.swiper-button-next',
                //         prevEl: '.swiper-button-prev'
                //     }
                // },
                images: [
                    '/img/certificate1.jpg',
                    '/img/certificate2.jpg',
                    '/img/certificate3.jpg',
                    '/img/certificate4.jpg',
                    '/img/certificate5.jpg',
                    '/img/certificate6.jpg',
                ],
                index: null
            }
        },
        components: {
            VueGallerySlideshow,
        }
    }
</script>

<style scoped lang="scss">
    .image {
        width: 203px;
        height: auto;
        background-size: cover;
        cursor: pointer;
        margin: 5px;
        border-radius: 3px;
        border: 1px solid lightgray;
        object-fit: contain;
    }

    @media screen and (max-width: 768px) {
        .image {
            width: 160px;
            margin: 3px;
        }
    }
</style>
