<template>
    <div class="container">
        <a href="/ad" class="subtitle mb-1">Недвижимость в продаже</a>
        <p class="text2">Найдено {{ payload.length }} объявлений</p>
        <VueSlickCarousel v-bind="settings">
            <div v-for="(item, index) in payload" class="card position-relative">
                <img :src="`storage/${item.images[0]}`" class="card-img-top" :alt="`${item.images[0]}`">
                <div class="position-absolute fon"></div>
                <div class="card-body">
                    <h5 class="card-title">{{ item.room_amount }}-комнатная квартира, {{ item.general_area }} м², {{
                        item.level }}/{{ item.level_amount }} этаж, {{ item.address }}</h5>
                    <p class="card-text">{{ setSpacer(item.price) }} тг</p>
                    <a class="btn" :href="`ad/${item.id}`">Посмотреть</a>
                </div>
            </div>
        </VueSlickCarousel>
    </div>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    // optional style for arrows & dots
    import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

    export default {
        name: 'MyComponent',
        props: {
            ads: String
        },
        computed: {
            payload: function () {
                return JSON.parse(this.$props.ads);
            }
        },
        mounted() {
            // console.log(this.$props.ads);
        },
        data() {
            return {
                settings: {
                    "infinite": true,
                    "arrows": true,
                    "speed": 500,
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "initialSlide": 0,
                    "swipe": true,
                    "variableWidth": true,
                    "rows": 1,
                    "responsive": [
                        {
                            "breakpoint": 1024,
                            "settings": {
                                "slidesToShow": 3,
                                "slidesToScroll": 3,
                                "infinite": true,
                                "dots": true
                            }
                        },
                        {
                            "breakpoint": 600,
                            "settings": {
                                "slidesToShow": 2,
                                "slidesToScroll": 2,
                                "initialSlide": 2,
                                "dots": true
                            }
                        },
                        {
                            "breakpoint": 480,
                            "settings": {
                                "slidesToShow": 1,
                                "slidesToScroll": 1,
                                "dots": true
                            }
                        }
                    ]
                },
            }
        },
        components: {VueSlickCarousel},
    }
</script>

<style scoped lang="scss">
    .route{
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 26px;
    }

    .fon {
        width: 100%;
        background: #173073;
        opacity: 0.25;
        border-radius: 5px 5px 0 0;
        height: 198px;
        top: 0;
    }

    a.btn {
        width: 100%;
        height: 49px;
        border: 1px solid #E97B3B;
        box-sizing: border-box;
        border-radius: 5px;

        font-family: Circe-Regular, sans-serif;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: #E97B3B;

        &:hover {
            background: #E97B3B;
            border: 1px solid #E97B3B;
            color: #ffffff;
        }
    }

    .views {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba(66, 73, 101, 0.75);
        margin-left: 5px;
    }

    .price {

        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #173073;

        span {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
    }

    .btn-group {
        position: absolute;
        right: 0;
        top: 0;

        button {
            color: #ffffff;
            font-size: 24px;
            padding: 1px 10px;
        }
    }


    .card-body {
        .btn {
            width: 100%;
            height: 49px;

            border: 1px solid #E97B3B;
            border-radius: 5px;

            font-family: Circe-Regular, sans-serif;
            font-size: 14px;
            line-height: 21px;

            text-align: center;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .card-title {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #173073;
    }

    .card-text {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #2C2C2A;
    }

    .card {
        width: 315px !important;
    }

    @media screen and (max-width: 768px) {
        .card {
            width: 100% !important;
        }
    }

</style>
