<template>
    <div class="d-flex flex-column block2 container mt50">
        <p class="subtitle">Новости</p>
        <div class="d-flex flex-sm-row flex-column justify-content-between">
            <div class="row">
                <div v-for="(item, index) in payload" :key="index" class="col-md-6 col-12 my-3">
                    <div v-if="item.youtube_link" class="position-relative h-100">
                        <iframe
                            width="100%"
                            height="350"
                            :src="item.youtube_link"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        >
                        </iframe>
                    </div>
                    <div class="position-relative h-100" v-else>
                        <div class="flex-column1 flex-column news h-100 justify-content-center news_block-item" >
                            <div class="news_block-head">
                                <p class="title">Новости</p>
                                <p class="subtitle">{{ item.title }}</p>
                            </div>
                            <p class="description" v-html="item.preview"></p>
                            <div class="news_block-bottom">
                                <a class="btnn" :href="`news/${item.slug}`">Подробнее</a>
                                <p class="date">Дата:{{ item.created_at_formated }}</p>
                            </div>
                        </div>
                        <div class="right-background" :style="`background-image: url(/storage/${item.image});`"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NovostiComponent",
        props: {
            news: String
        },
        computed: {
            payload: function () {
                return JSON.parse(this.$props.news);
            }
        },
        mounted() {
            // console.log(this.$props.news);
        }
    }
</script>

<style scoped lang="scss">
.news_block-bottom{
    position: absolute;
    bottom: 20px;
}
.news_block-head {
    position: absolute;
    top: 20px;
    width: 50%;
}

.news_block-item{
    min-height: 350px;
}

.flex-column1 {
    border-radius: 7px;
    background-color: #f2f2f2;
    display: flex;
    margin-right: 15px;
    width: 50%;
    padding: 20px;
}
.title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #2C2C2A;
    margin-bottom: 0;
}

.subtitle {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #E97B3B;
    margin-bottom: 12px;
    padding-top: 10px;
}

.description {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #2C2C2A;
    margin-bottom: 12px;
}

.date {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2C2C2A;
    margin-bottom: 5px;
    margin-top: 15px;
    display: block;

}
.btnn{
    color: white;
    background: #E97B3B;
    min-width: 160px;
    height: 42px;
    display: flex !important;
    justify-content: center;
    align-items: center;

    border-radius: 7px;
}
.right-background {
    position: absolute;
    top: 0;
    object-fit: cover;
    background-size: cover;
    width: 50%;
    height: 100%;
    background-position: center center;
    right: 0px;

}
    .block2 {

        .news {
            width: 650px;
            height: 312px;
            padding: 30px 235px 30px 30px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            margin-bottom: 30px;

            .title {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: #2C2C2A;
                margin-bottom: 0;
            }

            .subtitle {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #E97B3B;
                margin-bottom: 12px;
            }

            .description {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #2C2C2A;
                margin-bottom: 12px;
            }

            .date {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                color: #2C2C2A;
                margin-bottom: 14px;
            }

            a {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                /* identical to box height */

                text-align: center;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;

                color: #E97B3B;
                width: 138.86px;
                height: 42px;
                background: #FFFFFF;
                border-radius: 5px;
            }
        }

        ._left {
            width: 49%;
        }

        ._right {
            width: 49%;
        }
    }

    @media screen and (max-width: 768px) {
        .block2 {

            .news {
                padding: 16px;
            }

            ._left {
                width: 100%;
            }

            ._right {
                width: 100%;
            }
        }
    }
</style>
