<template>
    <div class="d-flex flex-column agreement">
        <p class="title">Копии договоров</p>
        <table class="table table-striped mt20">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Дата</th>
                <th scope="col">Документ</th>
                <th scope="col">Номер</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <content-item
                v-for="(item, index) in items"
                :date="'21.09.20'"
                :title="index"
                :number="Math.floor(Math.random() * (9999 - 1000) + 1000)"
                :link="item"
                :index="1"
                :key="index"
            />
            </tbody>
        </table>
    </div>
</template>

<script>

    import Item from './Item.vue'

    export default {
        name: "Agreement",
        props: {
            agreements: String
        },
        computed: {
            items: function () {
                return JSON.parse(this.$props.agreements);
            }
        },
        components: {
            'content-item': Item
        }
    }
</script>

<style scoped lang="scss">

    .agreement {
        width: 100%;
        padding: 20px 30px 50px 30px;
        background: #FFFFFF;
        box-shadow: 0px 0px 17px rgba(11, 11, 77, 0.15);
        border-radius: 10px;
    }

    .table > :not(caption) > * > * {
        padding: 20px 0.5rem;
    }

    thead {

        tr {

            th {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #2C2C2A;
                border-color: #dee2e6 !important;

                display: table-cell;
                vertical-align: middle;
            }

        }
    }

</style>
