<template>
    <tr>
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ date }}</td>
        <td><img src="/img/docx.png" width="16" height="16" alt="">{{ title }}</td>
        <td>{{ number }}</td>
        <td>
            <a class="btn" :href="decodeURIComponent(link)">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14 10V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V10"
                        stroke="#3E92E2" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.6665 6.66699L7.99984 10.0003L11.3332 6.66699" stroke="#3E92E2" stroke-width="1.7"
                          stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8 10V2" stroke="#3E92E2" stroke-width="1.7" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
                Скачать
            </a>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "Item",
        props: {
            date: {
                type: String,
                required: true,
                default: ''
            },
            title: {
                type: String,
                required: true,
                default: 0
            },
            number: {
                type: Number,
                required: true,
                default: 0
            },
            index: {
                type: Number,
                required: true,
                default: 0
            },
            link: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped lang="scss">

    tr {

        th, td {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #2C2C2A;
            border-color: #dee2e6 !important;

            display: table-cell;
            vertical-align: middle;

            a {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #2C2C2A;
            }

            img {
                margin-right: 4px;
            }
        }

    }

</style>
