<template>
    <div class="d-flex flex-wrap cards">
        <div class="card position-relative"
             v-for="(item, index) in payload"
        >
            <div class="btn-group">
                <button type="button" class="btn btn-dropdown" data-bs-toggle="dropdown" data-bs-display="static"
                        aria-expanded="false">
                    ⋮
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                    <li>
                        <button class="dropdown-item" type="button">Action</button>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button">Another action</button>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </li>
                </ul>
            </div>
            <img :src="`storage/${item.images[0]}`" class="card-img-top" alt="hata1">
            <div class="position-absolute fon"></div>
            <div class="card-body">
                <h5 class="card-title">{{ item.room_amount }}-комнатная квартира, {{ item.general_area }} м², {{
                    item.level }}/{{ item.level_amount }} этаж, {{ item.address }}</h5>
                <p class="card-text">{{ setSpacer(item.price) }} тг</p>
                <a class="btn" :href="`ad/${item.id}`">Посмотреть</a>
            </div>
        </div>
    </div>
</template>

<script>

    Vue.mixin({
        methods: {
            setSpacer: function (num) {
                if (num) return num.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ');
            },
        },
    }
    )
    export default {
        name: "AdsComponent",
        props: {
            ads: String
        },
        computed: {
            payload: function () {
                return JSON.parse(this.$props.ads);
            }
        },
        mounted() {
            // console.log(this.$props.ads);
        },
    }
</script>

<style scoped lang="scss">
    .cards {
        margin-top: 37px;

        .card {
            width: 315px;

            margin-right: 20px;
            margin-bottom: 20px;

            &:nth-child(4) {
                margin-right: 0;
            }
        }

        .fon {
            width: 100%;
            background: #173073;
            opacity: 0.25;
            border-radius: 5px 5px 0 0;
        }

        a {
            width: 100%;
            height: 49px;
            border: 1px solid #E97B3B;
            box-sizing: border-box;
            border-radius: 5px;

            font-family: Circe-Regular, sans-serif;
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            color: #E97B3B;

            &:hover {
                background: #E97B3B;
                border: 1px solid #E97B3B;
                color: #ffffff;
            }
        }

        .views {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(66, 73, 101, 0.75);
            margin-left: 5px;
        }

        .price {

            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #173073;

            span {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
            }
        }

        .btn-group {
            position: absolute;
            right: 0;
            top: 0;

            button {
                color: #ffffff;
                font-size: 24px;
                padding: 1px 10px;
            }
        }
    }

    .card-title {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #173073;
    }

    .card-text {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #2C2C2A;
    }
</style>
