<template>
    <div class="block2 container">
        <div class="d-flex flex-lg-row flex-column justify-content-between">
            <div class="d-flex flex-column _left mb-lg-0 mb-4">
                <div class="d-flex flex-lg-row flex-column">
                    <p class="text">Тип недвижимости</p>
                    <select class="form-select finder" v-model="type" aria-label="Default select example">
                        <option value="" selected disabled hidden>Тип недвижимости</option>
                        <option value="кирпичный" selected>кирпичный</option>
                        <option value="панельный">панельный</option>
                        <option value="монолитный">монолитный</option>
                        <option value="иное">иное</option>
                    </select>
                </div>
                <div class="d-flex flex-lg-row flex-column house-price">
                    <p class="text">Цена квартиры</p>
                    <div class="d-flex flex-column">
                        <p class="range">{{ price_range[0] }} - {{ price_range[1] }} ₸</p>
                        <vue-slider
                            v-model="price_range"
                            :enable-cross="false"
                            :tooltip=false
                            :min=0
                            :max=50000000
                            :interval=1000
                        ></vue-slider>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column _center align-items-start mt-lg-0 mb-4">
                <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start top">
                    <p class="text mr42">Комната</p>

                    <div class="d-flex">
                        <input type="checkbox" class="btn-check" v-model="room" id="1-room" value="1"
                               autocomplete="off">
                        <label class="btn btn-outline-success" for="1-room">1</label>

                        <input type="checkbox" class="btn-check" v-model="room" id="2-room" value="2"
                               autocomplete="off">
                        <label class="btn btn-outline-success" for="2-room">2</label>

                        <input type="checkbox" class="btn-check" v-model="room" id="3-room" value="3"
                               autocomplete="off">
                        <label class="btn btn-outline-success" for="3-room">3</label>

                        <input type="checkbox" class="btn-check" v-model="room" id="4-room" value="4"
                               autocomplete="off">
                        <label class="btn btn-outline-success" for="4-room">4</label>

                        <input type="checkbox" class="btn-check" v-model="room" id="5-room" value="5"
                               autocomplete="off">
                        <label class="btn btn-outline-success" for="5-room">5+</label>
                    </div>
                </div>
                <div class="d-flex flex-lg-row flex-column house-square mb-lg-0 mb-4">
                    <p class="text">Площадь квартиры</p>
                    <div class="d-flex flex-column">
                        <p class="range">{{ area_range[0] }} - {{ area_range[1] }} м²</p>
                        <vue-slider
                            v-model="area_range"
                            :enable-cross="false"
                            :tooltip=false
                            :min=0
                            :max=500
                            :interval=10
                        ></vue-slider>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column _right align-items-start justify-content-between">
                <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start mb-lg-0 mb-4">
                    <p class="text">Город:</p>
                    <select class="form-select" aria-label="Default select example" v-model="city">
                        <option value="" selected disabled hidden>Выберите город</option>
                        <option value="1">Алматы</option>
                        <option value="2">Астана</option>
                        <option value="3">Атырау</option>
                    </select>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-orange" @click="submit">Найти квартиру</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

export default {
    name: "FilterComponent",
    data() {
        return {
            price_range: [100000, 20000000],
            area_range: [100, 230],
            city: '',
            room: [],
            type: ''
        }
    },
    components: {
        VueSlider
    },
    methods: {
        submit: function () {
            var url = window.location.href;

            let params = {
                price: this.price_range,
                general_area: this.area_range,
                // address: this.city,
                room_amount: this.room,
                building_type: this.type
            }

            for (let key in params) {
                if (url.indexOf('?') > -1) {
                    url += `&${key}=${params[key]}`;
                } else {
                    url += `?${key}=${params[key]}`;
                }
            }

            window.location.href = url;
        }
    }
}
</script>

<style lang="scss">

.house-square, .house-price {
    .vue-slider {
        width: 217px !important;
    }
}

@media screen and (max-width: 960px) {
    .house-square, .house-price {
        width: 100%;

        .vue-slider {
            width: 100% !important;
        }
    }
}

</style>

<style scoped lang="scss">
.block2 {
    margin-top: 14px;
    border: 1px solid #E97B3B;
    border-radius: 10px;
    padding: 41px 50px 30px;

    .text {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #2C2C2A;
        margin-bottom: 0;
    }

    ._left {
        .finder {
            width: 217px;
            height: 41px;
            margin-left: 31px;
            border: 1px solid #D3DDE7;
            border-radius: 8px;
        }

        .house-price {
            margin-top: 34px;

            .text {
                margin-right: 64px;
            }
        }

        p.range {
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            text-align: right;

            color: #6F6F6F;

            margin-bottom: 10px;
            margin-top: 0;
        }
    }

    ._center {

        .house-square {
            margin-top: 17px;

            .text {
                margin-right: 64px;
            }
        }

        p.range {
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            text-align: right;

            color: #6F6F6F;

            margin-bottom: 10px;
            margin-top: 0;
        }

        .top {

            .btn-check:active + .btn-outline-success:focus, .btn-check:checked + .btn-outline-success:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus, .btn-outline-success:active:focus {
                box-shadow: none !important;
            }

            .btn-check:checked + .btn-outline-success {
                background-color: #E97B3B;
                font-weight: bold;
                color: #ffffff;
                box-shadow: none;
            }

            label {
                width: 41px;
                height: 41px;
                border: 1px solid #E97B3B;
                border-radius: 5px;
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                display: flex;
                align-items: center;
                line-height: 100%;
                text-align: center;
                color: #2C2C2A;
                margin-right: 11px;

                &:hover, :focus, :active, :visited {
                    background-color: #E97B3B !important;
                    font-weight: bold;
                    color: #ffffff;
                }
            }
        }

        .bottom {

            label {
                width: 117.51px;
                height: 41px;
                border: 1px solid #E97B3B;
                background: #E97B3B;
                border-radius: 5px;
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #2C2C2A;
                margin-bottom: 0;

                &:hover, :focus, :active, :visited {
                    background-color: #E97B3B !important;
                    color: #ffffff;
                    box-shadow: none;
                }
            }
        }
    }

    ._right {

        select {
            border: none;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #E97B3B;
            text-decoration: dotted;
        }

        button {
            width: 182px;
            height: 41px;
            font-family: Circe-Regular, sans-serif;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

@media screen and (max-width: 960px) {
    .block2 {
        padding: 32px 16px;

        .text {
            margin-bottom: 12px;
        }

        ._left {
            .finder {
                width: 100%;
                margin-left: 0px;
            }
        }
    }
}
</style>
