h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
}

a {
    text-decoration: none;
    outline: none;
}

.navbar-brand {
    img {
        width: 175px;
        height: 77px;
    }
}

#callModal {

    .modal-dialog {
        width: 156px;
        height: 120px;

        .modal-content {
            width: 100%;
            height: 100%;
        }
    }

    .modal-body {

        padding: 8px 10px;

        .number {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-transform: uppercase;

            color: #E97B3B;

            margin-bottom: 8px;
        }

        .order-call {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;

            color: #173073;
        }
    }
}

.text-blue {
    color: $blue;
}

.btn-orange-outline {
    width: 237px;
    padding: 10px 20px;
    border: 2px solid #E97B3B;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Circe-Regular', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #E97B3B;

    &:hover {
        background: #E97B3B;
        border: 2px solid #E97B3B;
        color: #ffffff;
    }
}

.container {
    padding-left: 0;
    padding-right: 0;
}

label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2C2C2A;
    margin-bottom: 17px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #173073;
    margin-bottom: 40px;
}

.warnings-wrapper {
    bottom: 0;
    z-index: 10;
}

.btn-orange {
    color: white;
    background: $orange;
    min-width: 160px;
    height: 42px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.btn-blue {
    background: $blue;
}

.bm-menu {
    padding-top: 32px !important;
    background-color: #ffffff !important;

    .bm-item-list {
        padding-left: 0 !important;
        margin-left: 0;
    }
}

.finder {
    border: 1px solid rgba(44, 44, 42, 0.7);
    border-radius: 8px;
    background-image: url("/img/search.png");
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: 97%;
    padding-right: 40px;

    &:focus {
        box-shadow: none;
    }
}

.menu {
    .accordion-item {
        border: none;
        width: 100%;

        h2 {
            text-align: center;
        }

        button {
            padding: 0;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;

        }
    }

    .accordion-body {
        display: flex;

        a {
            font-family: Circe-Regular, sans-serif;
            font-size: 18px;
            line-height: 35px;
            color: #2C2C2A;
            text-decoration: none;
            margin-left: 30px;

            &:hover {
                color: #E97B3B;
            }
        }
    }

    .accordion-header {
        background-color: #173073;
        border-radius: 0;
        height: 55px;
    }
}

.breadcrumb {
    margin-top: 22px;

    background-color: #ffffff;

    .breadcrumb-item {
        a {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #979797;
            text-decoration: none;
        }
    }

    .breadcrumb-item.active {
        color: #2C2C2A;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        color: #979797;;
    }


}

.header {
    padding-top: 7px;
    padding-bottom: 7px;

    .text1 {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $blue;
        text-decoration: none;
    }

    select {
        width: 5.5%;
        border: none;
        color: $blue;
    }

    .tel {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: #2C2C2A;
        margin-bottom: 0;
    }

    .order-call {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration: none;
        color: $blue;
    }

    .login {
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        border-radius: 5px;
    }
}

.main {
    .block1 {
        height: 705px;
        background-size: 83% !important;
        background: #F4FBFF url("/img/nurbg.jpg") no-repeat 100% 100%;

        .fon {
            background: rgba(2, 11, 33, 0.58);
            width: 100%;
            height: 100%;
        }

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 65px;
            line-height: 76px;
        }

        .text {
            width: 35%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }

    }


    .programs {

        .title {
            font-family: Circe-Bold, sans-serif;
            font-size: 26px;
            line-height: 38px;
            color: #173073;
            margin-bottom: 8px;
        }

        .text {
            font-family: Circe-Regular, sans-serif;
            font-size: 18px;
            line-height: 34px;
            color: #2C2C2A;

            span {
                color: #E97B3B;
            }
        }

        button {
            width: 206px;
            height: 37px;
            border-radius: 5px;
            font-family: Circe-Regular, sans-serif;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .details {
            font-family: Circe-Regular, sans-serif;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            color: #2C2C2A;
            text-decoration: none;
        }

        .program1 {
            background: #F9F9F9;
            box-shadow: 0 0 22px rgba(11, 11, 77, 0.2);
            border-radius: 10px;
            margin-bottom: 46px;


            ._left {
                width: 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }

            ._right {
                width: 50%;
                padding: 64px 0 50px 0;
            }
        }

        .program2 {
            background: #F9F9F9;
            box-shadow: 0 0 22px rgba(11, 11, 77, 0.2);
            border-radius: 10px;
            margin-bottom: 46px;

            ._left {

                width: 52%;
                padding: 57px 0 57px 222px;
            }

            ._right {
                width: 48%;
                background-repeat: no-repeat;
                background-size: 75%;
                background-position-y: 100%;
            }
        }

        .program3 {
            background: #F9F9F9;
            box-shadow: 0 0 22px rgba(11, 11, 77, 0.2);
            border-radius: 10px;
            margin-bottom: 46px;


            ._left {
                width: 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }

            ._right {
                width: 50%;
                padding: 64px 0 50px 0;
            }
        }
    }

    .RS {

        .text2 {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: rgba(44, 44, 42, 0.7);
            margin-bottom: 0;
        }

        .cards {
            margin-top: 37px;

            .fon {
                width: 100%;
                background: #173073;
                opacity: 0.25;
                border-radius: 5px 5px 0 0;
            }

            a {
                width: 100%;
                height: 49px;
                border: 1px solid #E97B3B;
                box-sizing: border-box;
                border-radius: 5px;

                font-family: Circe-Regular, sans-serif;
                font-size: 14px;
                line-height: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                text-transform: uppercase;
                color: #E97B3B;

                &:hover {
                    background: #E97B3B;
                    border: 1px solid #E97B3B;
                    color: #ffffff;
                }
            }

            .views {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: rgba(66, 73, 101, 0.75);
                margin-left: 5px;
            }

            .price {

                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #173073;

                span {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }

        .card-title {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #173073;
        }

        .card-text {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #424965;
            margin-bottom: 20px;
        }
    }

    .slick-initialized .slick-slide {
        width: 100%;
    }
}

.about {
    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg2.jpg") no-repeat 100%;

        .fon {
            background: rgba(2, 11, 33, 0.58);
            width: 100%;
            height: 100%;
        }

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
            }
        }
    }

    .block2 {

        margin-top: 35px;

        ._left {
            width: 50%;

            img {
                width: 100%;
            }
        }

        ._right {
            width: 50%;
            padding-top: 27px;
            padding-left: 40px;
            padding-right: 80px;

            .title {
                font-family: Circe-Bold, sans-serif;
                font-size: 40px;
                line-height: 59px;
                display: flex;
                align-items: center;
                color: #173073;
            }

            .text {
                font-family: Circe-Regular, sans-serif;
                font-size: 18px;
                line-height: 27px;
                color: #2C2C2A;

                span {
                    font-family: Circe-Bold, sans-serif;
                    color: #E97B3B;
                }
            }
        }
    }

    .block3 {
        .box {
            width: 427px;
            padding: 8px;
            box-shadow: 0 0 17px rgba(11, 11, 77, 0.15);
            border-radius: 10px;

            .box1 {
                border: 1px dashed #E97B3B;
                border-radius: 5px;

                ._left {
                    padding-top: 22px;
                    padding-bottom: 22px;
                }

                ._right {
                    .text {
                        width: 226px;
                        font-family: Roboto, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #2C2C2A;
                        margin-bottom: 0;

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }

            .box2 {
                border: 1px dashed #E97B3B;
                border-radius: 5px;

                ._left {
                    padding: 26px 31px 26px 11px;
                }

                ._right {
                    .text {
                        width: 226px;
                        font-family: Roboto, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #2C2C2A;
                        margin-bottom: 0;

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }

            .box3 {
                border: 1px dashed #E97B3B;
                border-radius: 5px;

                ._left {
                    padding: 20px 31px 19px 33px;
                }

                ._right {
                    .text {
                        width: 226px;
                        font-family: Roboto, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #2C2C2A;
                        margin-bottom: 0;

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

}

.vacancies {

    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg3.jpg") no-repeat 100%;

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }
    }

}

.vacancy-info {
    p.vacancy-name, p.vacancy-salary {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 125%;

        color: #2C2C2A;

        margin-bottom: 0;
    }

    p.employer {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;

        color: #7EC0F9;

        margin-right: 32px;
        margin-bottom: 0;
    }

    p.date {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;

        color: #979797;

        margin-bottom: 0;
    }

    a.send-cv {
        width: 175px;
        height: 36px;
        border: 1px solid #E97B3B;
        border-radius: 5px;

        align-items: center;
        justify-content: center;

        font-family: Circe-Regular, sans-serif;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;

        color: #E97B3B;
    }

    .options {
        margin-top: 24px;

        p {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 100%;
            color: #434343;

            margin-right: 37px;

            svg {
                margin-right: 7px;
            }
        }
    }

    .description {
        margin-top: 32px;
    }
}

.page-news {

    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg4.jpg") no-repeat 100%;

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }
    }
}

.programmes {

    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg5.jpg") no-repeat 100%;

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }
    }
}

.faq {

    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg6.jpg") no-repeat 100%;

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }
    }
}

.terminals {
    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg7.jpg") no-repeat 100%;

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }
    }

    .block2 {
        .box1 {

            ._left {
                margin-right: 40px;

                .finder {
                    width: 411px;
                    height: 41px;
                    border: 1px solid #979797;
                    border-radius: 8px;

                    &::placeholder {
                        font-family: Inter, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 100%;
                        color: #2C2C2A;
                        opacity: 0.4;
                    }
                }
            }

            ._right {
                padding: 2px;
                height: 41px;
                border: 1px solid #E97B3B;
                border-radius: 5px;

                .btn-check:checked + .btn-secondary {
                    background-color: #E97B3B;
                    font-family: Circe-Regular, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 100%;
                    text-align: center;

                    color: #FFFFFF;
                }

                .btn-secondary {
                    font-family: Circe-Regular, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 100%;
                    text-align: center;
                    background-color: transparent;
                    border-color: transparent;
                    color: #E97B3B;
                }

                label {
                    height: 35px;
                    width: 159px;
                    border-radius: 5px;
                    margin-bottom: 0;
                }
            }
        }

        .box2 {

            .line {
                padding-top: 40px;
                padding-bottom: 50px;
                border-bottom: 0.5px solid rgba(44, 44, 42, 0.4);
            }

            .column {
                width: 33%;

                svg {
                    margin-right: 10px;
                }

                .bold {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #2C2C2A;
                    margin-bottom: 0;
                }

                .regular {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #2C2C2A;
                    margin-bottom: 0;
                }
            }
        }

        .form {
            width: 474px;
            background: #FFFFFF;
            box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 8px;
            padding: 32px;

            .title {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 40px;
                display: flex;
                align-items: center;
                color: #2C2C2A;
            }

            label {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #2C2C2A;
            }

            input {
                height: 50px;
                margin-bottom: 20px;

                &:focus {
                    border: 1px solid #E97B3B;
                    box-shadow: none;
                }

                &::placeholder {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #C9D0D8;
                }
            }

            .text {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 10%;
                color: #2C2C2A;
                margin-bottom: 32px;

                span {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 10%;
                    color: #E97B3B;
                }
            }

            button {
                width: 100%;
                height: 44px;
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

.funded-system {

    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg8.jpg") no-repeat 100%;

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }
    }

    .block2 {

        .subtitle {
            margin-bottom: 20px;
        }

        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #2C2C2A;
    }

    .block4 {
        padding-top: 39px;
        padding-bottom: 43px;
        background: #F9F9F9;

        .text {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #2C2C2A;
        }

        ul {

            width: 60%;
            padding-left: 1rem;
            margin-bottom: 0;

            li {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 146.87%;
                color: #2C2C2A;

                &::marker {
                    color: #E97B3B;
                    font-size: 20px;
                }
            }
        }

        a {
            width: 237px;
            height: 53px;
            background: #E97B3B;
            border: 2px solid #E97B3B;
            border-radius: 5px;
            font-family: Circe-Regular, sans-serif;
            font-style: normal;
            font-size: 20px;
            line-height: 29px;
            text-align: center;

            color: #FFFFFF;
        }
    }

    .form {
        padding: 30px 54px 30px 54px;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
        border-radius: 8px;

        .title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #2C2C2A;
            margin-bottom: 2px;
        }

        .undertitle {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            text-align: center;
            margin-bottom: 0;

            color: rgba(44, 44, 42, 0.8);

            span {
                color: #E97B3B;
            }
        }

        input {
            width: 260px;
            height: 46px;
            border: 1px solid #D3DDE7;
            border-radius: 5px;

            ::placeholder {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;

                color: #C9D0D8;
            }

            &:focus {
                border: 1px solid #E97B3B;
                box-shadow: none;
            }
        }

        label {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;

            color: #2C2C2A;
        }

        button {
            width: 260px;
            height: 46px;
            background: #E97B3B;
            border-radius: 4px;
            font-family: Circe-Regular, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
        }

        .box5 {
            div {
                margin-right: 64px;
            }
        }
    }
}

.how-to-pay {

    .block1 {

        .text {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #2C2C2A;
        }

        ul {

            width: 60%;
            padding-left: 1rem;
            margin-bottom: 0;

            li {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 146.87%;
                color: #2C2C2A;

                &::marker {
                    color: #E97B3B;
                    font-size: 20px;
                }
            }
        }

        button {
            width: 237px;
            height: 53px;
            background: #E97B3B;
            border: 2px solid #E97B3B;
            border-radius: 5px;
            font-family: Circe-Regular, sans-serif;
            font-style: normal;
            font-size: 20px;
            line-height: 29px;
            text-align: center;

            color: #FFFFFF;
        }
    }
}

.cooperation {

    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg9.jpg") no-repeat 100%;

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }
    }

    .block2 {
        .text {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #2C2C2A;
        }
    }

    .block3 {

        .line {
            padding-top: 40px;
            padding-bottom: 50px;

            .column {
                width: 33%;

                svg {
                    margin-right: 10px;
                }

                .bold {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #2C2C2A;
                    margin-bottom: 0;
                }

                .regular {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #2C2C2A;
                    margin-bottom: 0;
                }
            }
        }

    }
}

.ads {

    .block1 {
        height: 460px;
        padding-top: 1px;
        background-size: 100% !important;
        background: url("/img/bg10.jpg") no-repeat 100%;

        .text {
            width: 50%;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2C2C2A;
            margin-bottom: 0;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #E97B3B;
            }
        }
    }

    .block3 {

    }
}

.forms {

    .block2 {
        .form {
            padding: 30px 32px;
            width: 474px;
            background: #FFFFFF;
            box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 8px;

            .title {
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 40px;
                display: flex;
                align-items: center;
                color: #000000;
                margin-bottom: 24px;
            }

            svg {
                margin-bottom: 54px;
            }

            label {
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;

                color: #000000;
            }

            select {
                background-image: url("/img/menu.png");
            }

            input, select {
                width: 100%;
                height: 50px;
                border: 1px solid #CCCCCC;
                border-radius: 8px;

                &:focus {
                    box-shadow: none;
                    border: 1px solid #E97B3B;
                }
            }

            input[type=checkbox] {
                width: 24px;
                height: 24px;
            }

            .checkbox-label {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                color: #000000;

                span {
                    color: #E97B3B;
                }
            }

            .lil-label {
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                line-height: 24px;
                color: rgba(44, 44, 42, 0.8);
            }

            .volume {
                input {
                    width: 126px;
                    height: 50px;
                }

                label {
                    margin-bottom: 4px;
                }
            }

            button {
                width: 100%;
                height: 44px;
                border-radius: 4px;
                color: #ffffff;
                margin-bottom: 12px;
            }

            hr {
                margin-top: 0;
                margin-bottom: 20px;
            }

            a {
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: center;

                color: #E97B3B;
            }

            .was-validated .form-control:valid {
                background-image: none;
            }


            .was-validated .form-control:invalid {
                background-image: none;
            }

        }

        .forgot-password {
            font-family: Roboto, sans-serif !important;
            font-size: 14px !important;
            line-height: 24px !important;
            color: #979797 !important;
            margin-top: 8px;
        }

        .no-account {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #2C2C2A;

            a {
                color: #E97B3B;
            }
        }

    }

    .block3 {
        font-family: Roboto, sans-serif;

        svg {
            margin-bottom: 40px;
        }

        .title {
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
            color: #E97B3B;
            margin-bottom: 20px;
        }

        .text {
            width: 444px;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #767675;
            margin-bottom: 50px;
        }

        button {
            width: 320px;
            height: 50px;
            background: #E97B3B;
            border-radius: 5px;

            font-family: Circe-Regular, sans-serif;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.cabinet {

    background: #F8F8FD;

    .menu {
        width: 20%;
        height: 850px;
        background: #FFFFFF;
        box-shadow: 0 0 17px rgba(11, 11, 77, 0.15);
        border-radius: 0 0 10px 0;
        padding-top: 30px;
        padding-left: 34px;

        .phone {
            font-family: Circe, sans-serif;
            font-size: 22px;
            line-height: 32px;
            text-transform: uppercase;
            color: #2C2C2A;
        }

        .order-call {
            font-family: Circe, sans-serif;
            font-size: 14px;
            line-height: 21px;
            color: #173073;
        }

        .list-group {
            a {
                border: none;
                padding: 0;
                margin-bottom: 17px;
                font-family: Circe, sans-serif;
                font-size: 16px;
                line-height: 24px;
                color: #767675;

                svg {
                    margin-right: 14px;
                }
            }
        }
    }

    .main-side {
        width: 80%;
        padding: 30px 35px 0 26px;

        .header {

            ._left {
                // width: 406px;
                background: #FFFFFF;
                box-shadow: 0px 4px 17px rgba(11, 11, 77, 0.15);
                border-radius: 8px;

                svg {
                    margin-right: 8px;
                    width: 30px;
                    height: 30px;
                }

                .text {
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #2C2C2A;
                    margin-bottom: 0;
                }
            }

            ._right {
                select {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: #2C2C2A;
                    width: 75px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    box-shadow: none;
                }

                button {
                    width: 168px;
                    height: 40px;
                    background: #E97B3B;
                    border: 1px solid #E97B3B;
                    box-sizing: border-box;
                    border-radius: 5px;
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }

        .title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #2C2C2A;
            margin-bottom: 0;
        }

        .announcement {
            .title {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: #2C2C2A;
                margin-bottom: 4px;
            }

            .text {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 0;

                color: #767675;

            }
        }
    }

}

.card-info {
    ._left {
        width: 47.5%;
    }

    ._right {
        width: 47.5%;

        .title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 120%;
            color: #173073;
        }

        .price {
            font-family: Circe-Bold, sans-serif;
            font-size: 36px;
            line-height: 60px;
            display: flex;
            align-items: center;
            color: #2C2C2A;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;

                color: #2C2C2A;

                margin-bottom: 16px;

                span {
                    font-family: Montserrat, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #2C2C2A;
                }
            }
        }

        a {
            width: 222px;
            height: 49px;
            background: #E97B3B;
            border: 2px solid #E97B3B;
            border-radius: 5px;

            font-family: Circe-Regular, sans-serif;
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;

            margin-top: 50px;
        }
    }

    .description {
        margin-top: 60px;
        p {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;

            color: #2C2C2A;
        }
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #333333;

    .box1 {
        .address {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            margin-bottom: 0;
        }

        .phone {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 38px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            margin-bottom: 0;
            margin-top: 1px;
        }

        .terminals {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 38px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }

        img {
            margin-right: 7px;
        }
    }

    .head {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    .text {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 8px;
        text-decoration: none;
    }

    .social {
        a {
            margin-left: 16px;
        }
    }

    .under {

        .line {
            opacity: 0.4;
            border: 0.6px solid #FFFFFF;
            -webkit-background-clip: padding-box; /* for Safari */
            background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
            margin-bottom: 18px;
        }

        .under-text {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            margin-bottom: 0;

            a {
                text-decoration: none;
                color: #E97B3B;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#leaveRequestModal {

    .modal-dialog {
        max-width: 335px;
    }

    .modal-header {
        padding-left: 16px;
        padding-top: 24px;
        padding-right: 16px;
        border-bottom: none;

        .modal-title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 40px;
            display: flex;
            align-items: center;
            color: #2C2C2A;

        }

        .btn-close {
            right: 16px;
            top: 16px;
        }
    }

    .modal-body {
        padding-right: 16px;
        padding-left: 16px;

        label {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #2C2C2A;
            margin-bottom: 6px;
        }

        input {
            height: 48px;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 5px;

            &::placeholder {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #CCCCCC;
            }
        }

        .form-check-input {
            width: 24px;
            height: 24px;
        }

        .form-check-label {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: #2C2C2A;
            margin-bottom: 0;
        }
    }

    .modal-footer {
        padding-right: 16px;
        padding-bottom: 24px;
        padding-left: 16px;
        border-top: none;

        button {
            height: 44px;
            background: #E97B3B;
            border-radius: 3px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin: 0;
        }
    }
}

.slick-track {
    display: flex;
    flex-wrap: nowrap;
}

.slick-slide {
    margin-left: 10px;
    margin-right: 10px;
}

button.slick-prev {
    top: 110%;
    left: 90%;
    width: 40px;
    height: 40px;
}

button.slick-next {
    top: 110%;
    right: 0;
    width: 40px;
    height: 40px;
}

button.slick-prev:before, button.slick-next:before {
    font-family: '', sans-serif;
    font-size: 40px;
    background-color: transparent !important;
    color: #173073 !important;
}
.complex-info{
    height: 720px;
    position: relative;

}
.complex-image{
    height: 720px;
    position: absolute;
    width: 50vw;
    top: 0;
    right: 0;
    img{
        width: 100%;
        height: 720px;
        object-fit: cover;
        position: absolute;
    }
}

.complex-image_under-info{
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: -100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 17px rgb(11 11 77 / 15%);
    border-radius: 10px;
    padding: 7px;
    .under_text{
        padding: 24px;
        border: 1px dashed #347FA1;
        border-radius: 10px;
        .about-under{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #3B3B3B;
        }
        .about-date{
            font-weight: bold;
            font-size: 38px;
            line-height: 56px;
            color: #347FA1;
        }
        .about-step{
            font-size: 12px;
            line-height: 14px;
            color: #3B3B3B;
        }
    }
}


.complex_info-desc{
    .complex-logo{
        margin-top: 140px;
        margin-bottom: 32px;
        width: 180px;
        height: 130px;
        img{
            width: 100%;
        }
    }
    .complex-head{
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        color: #3B3B3B;
    }
    .complex-additional{
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #3B3B3B;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

.btn-blue_light{
    color: #fff;
    background-color: #347FA1;
    padding: 15px 60px;
    &:hover{
        color: #fff;
    }
}

.complex-numbers{
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #347fa114;
    .complex_numb-title{
        margin-left: 80px;
        font-weight: 500;
        font-size: 40px;
        line-height: 108.69%;
        color: #3B3B3B;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 65px;
            height: 2px;
            background: #347FA1;
            top: 50%;
            left: -80px;
        }
    }
    .complex-numb-desc{
        margin-top: 10px;
        margin-bottom: 50px;
        margin-left: 80px;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
    .complex_numb-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        .numb_item{
            font-weight: bold;
            font-size: 80px;
            line-height: 87px;
            color: #347FA1;
        }
        .numb_desc{
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #3B3B3B;
        }
    }
}

.complex-location{
    position: relative;
    min-height: 530px;
    overflow-x: hidden;
    .location-slot{
        .loc_slot-left{
            position: absolute;
            top: 0;
            left: 0;
            width: 50vw;
            img{
                width: 100%;
                height: 530px;
                object-fit: cover;
            }
        }
        .loc_slot-right{
            background-color: #347FA1;
            width: 50vw;
            height: 530px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .location-info{
        position: relative;
        z-index: 1;
        padding-top: 88px;
        .location_info-title{
            margin-left: 80px;
            font-weight: 500;
            font-size: 40px;
            line-height:43px;
            color: #FFFFFF;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 65px;
                height: 2px;
                background: #fff;
                top: 50%;
                left: -80px;
            }
        }
        .location_info-desc{
            margin-left: 80px;
            padding-right: 70px;
            padding-top: 20px;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            margin-bottom: 40px;
        }
        .location_info-btn{
            margin-left: 80px;
            max-width: 250px;
            .btn-blue_light{
                display: flex;
                background-color: #559ab8;
                padding: 15px 20px;
                svg{
                    margin-right: 8px;
                }
            }
        }
    }
}


.complex_form-1{
    margin-top: 68px;
    margin-bottom: 68px;
    .complex-form1_wrapper{
        position: relative;
        padding: 40px 0;
        &:before{
            z-index: -1;
            content: "";
            position: absolute;
            width: 106%;
            height: 106%;
            border: 2px dashed #347FA1;
            border-radius: 10px;
            margin-left: -3%;
            margin-top: -3%;
        }
    }
    .complex_form-title{
        font-weight: 500;
        font-size: 40px;
        line-height: 43px;
        color: #3B3B3B;
        margin-bottom: 10px;
    }
    .complex_form-title_phone{
        font-weight: 500;
        font-size: 32px;
        line-height: 35px;
        text-align: right;
        color: #347FA1;
        margin-bottom: 10px;
    }
    .complex_form-desc{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;
    }
    .form-label_complex{
        font-size: 16px;
        line-height: 24px;
        display: flex;
        color: #2C2C2A;
        margin-bottom: 8px;
    }
    .form-control_complex{
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 5px;
        height: 48px;
        width: 100%;
        padding: 0 10px;
        &:focus{
            outline: none;
            border-radius: 5px;
            border: 1px solid #347FA1;
        }
    }
    .btn-blue_light{
        height: 48px;
        padding: 0;
    }
}

.why_amanat{
    .why_amanat-title{
        font-weight: 500;
        font-size: 40px;
        line-height: 43px;
        color: #3B3B3B;
        margin-bottom: 10px;
        text-align: center;
    }
    .why_amanat-desc{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 60px;
        text-align: center;
    }
    .why_amanat-item{
        text-align: center;
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        .why_item-img{
            img{
                height: 90px;
            }
        }
        .why_item-title{
            margin-top: 8px;
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            color: #3B3B3B;
        }
        .why_item-desc{
            font-size: 16px;
            line-height: 19px;
            color: #3B3B3B;

        }
    }
}


.complex-layouts{
    margin-top: 40px;
    margin-bottom: 150px;
    .layouts-title{
        font-weight: 500;
        font-size: 40px;
        line-height: 42px;
        color: #3B3B3B;
    }
    .layouts-desc{
        font-size: 16px;
        line-height: 22px;
        color: #3B3B3B;
        margin-bottom: 22px;
    }

    .layout_cart{
        border: 2px solid #347FA1;
        padding: 18px 30px;
        min-height: 382px;
        .upper-line{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            .cart_view{
                img{
                    width: 35px;
                    height: 35px;
                }
            }
            .cart_square{
                text-align: center;
                .cart_square-numb{
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 44px;
                    color: #347FA1;
                }
                .cart_square-desc{
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #3B3B3B;
                }
            }
            .cart_room{
                text-align: center;
                .cart_room-numb{
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 44px;
                    color: #347FA1;
                }
                .cart_room-desc{
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #3B3B3B;
                }
            }
        }
        .under-line{
            text-align: center;
            .cart_img{
                img{
                    width: 100%;
                    max-width: 336px;
                    max-height: 255px;
                    object-fit: contain;
                }
            }
        }
    }

}

.complex_form-2{
    background: #347FA1;
    min-height: 272px;
    .complex_form2-title{
        font-weight: 500;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 50px;
        margin-bottom: 8px;
    }
    .complex-form2-desc{
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #3B3B3B;
        margin-bottom: 30px;
    }
    .form-label_complex{
        font-size: 16px;
        line-height: 24px;
        display: flex;
        color: #fff;
        margin-bottom: 8px;
    }
    .form-control_complex{
        border: 1px solid #383838;
        box-sizing: border-box;
        border-radius: 5px;
        height: 48px;
        width: 100%;
        padding: 0 10px;
        &:focus{
            outline: none;
            border-radius: 5px;
            border: 1px solid #347FA1;
        }
    }
    .btn-blue_light{
        height: 48px;
        padding: 0;
        background-color: #3b3b3b;
    }
}

.about-developer{
    .developer-info{
        margin-top: 100px;
        margin-bottom: 150px;
        border: 2px solid #347FA1;
        padding: 40px 30px;
        .dev_info-title{
            font-weight: 500;
            font-size: 40px;
            line-height: 43px;
            color: #347FA1;
            margin-bottom: 16px;
        }
    }
    .developer_summary{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .dev-summary-desc{
            margin-top: 40px;
            text-align: center;
            font-size: 20px;
            color: #3B3B3B;
            max-width: 312px;
        }
    }

}

.socials {
    align-items: center;
    margin-left: auto;
    div{
        padding-right: 8px;
        padding-left: 8px;
    }
}
@media screen and (max-width: 960px) {
    .navbar-brand {
        img {
            width: 96px;
            height: 44px;
        }
    }
    .complex-info {
        height: 800px;
    }
    .complex-image {
        width: 100%;
        z-index: -1;
        opacity: .3;
    }
    .complex-image_under-info {
        right: 0;
        left: 0;
        bottom: auto;
        top: 20px;
    }
    .complex-location .location-slot .loc_slot-left {
        width: 100%;
    }
    .complex-location .location-slot .loc_slot-right {
        width: 100%;
        opacity: .8;
    }
    .complex-location .location-slot .loc_slot-left img {
        width: 100%;
        height: 530px;
    }
    .complex-location .location-info .location_info-title {
        margin-left: 20px;
        font-size: 36px;
    }
    .complex-location .location-info .location_info-desc {
        margin-left: 0;
        padding-right: 0;
        padding-top: 20px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .complex_form-1 .btn-blue_light {
        margin-top: 30px;
    }

    .why_amanat{
        padding-top: 50px;
    }

    .complex_form-2 .btn-blue_light {
        margin: 30px 0;
    }

    .about-developer .developer_summary {
        padding-top: 50px;
    }
    .complex_form-1 .complex-form1_wrapper:before {
        margin-top: -11%;
    }

}





@media screen and (max-width: 960px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .subtitle {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 26px;
    }

    .about {

        .block1 {
            background-size: auto 100% !important;
            background-position-x: 70%;

            h1 {
                font-size: 48px;
                line-height: 56px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }

        .block2 {
            ._right {
                width: 100%;
                padding: 0;

                .subtitle {
                    margin-bottom: 16px;
                }

                .text {
                    font-family: Montserrat, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        .block2 {
            ._left {
                width: 100%;
            }
        }
    }

    .vacancies {

        .block1 {
            background-size: auto 100% !important;
            background-position-x: 75%;

            .fon {
                background: rgba(2, 11, 33, 0.58);
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }
    }

    .vacancy-info {
        p.vacancy-name {
            font-size: 20px;
            line-height: 172.19%;
        }

        p.vacancy-salary {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 100%;
        }

        p.employer {
            margin-top: 8px;
            font-size: 14px;
        }

        p.date {
            margin-top: 8px;
            font-size: 14px;
        }

        a.send-cv {
            width: 175px;
            height: 36px;
            border: 1px solid #E97B3B;
            border-radius: 5px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-family: Circe-Regular, sans-serif;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;

            color: #E97B3B;
        }

        .options {
            margin-top: 24px;

            p {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 100%;
                color: #434343;

                margin-right: 37px;

                svg {
                    margin-right: 7px;
                }
            }
        }

        .description {
            margin-top: 32px;
        }
    }

    .page-news {

        .block1 {
            background-size: auto 100% !important;
            background-position-x: 65%;

            .fon {
                background: rgba(2, 11, 33, 0.58);
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }
    }

    .programmes {
        .block1 {
            background-size: auto 100% !important;
            background-position-x: 77%;

            .fon {
                background: rgba(2, 11, 33, 0.58);
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }
    }

    .faq {
        .block1 {
            background-size: auto 100% !important;
            background-position-x: 77%;

            .fon {
                background: rgba(2, 11, 33, 0.58);
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }
    }

    .terminals {
        .block1 {
            background-size: auto 100% !important;
            background-position-x: 77%;

            .fon {
                background: rgba(2, 11, 33, 0.58);
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }

        .block2 {

            .box1 {
                ._left {
                    margin-right: 0;

                    .finder {
                        width: 100%;
                    }
                }
            }

            .box2 {
                .column {
                    width: 100%;
                    margin-top: 12px;
                }
            }

            .form {
                .text {
                    line-height: 100%;
                }
            }
        }
    }

    .funded-system {
        .block1 {
            background-size: auto 100% !important;
            background-position-x: 85%;

            .fon {
                background: rgba(2, 11, 33, 0.58);
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }

        .block4 {

            .text {
                font-size: 14px;
                line-height: 17px;
            }

            ul {
                width: 100%;

                li {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            button {
                width: 168px;
                height: 37px;
                font-size: 14px;
                line-height: 21px;
            }
        }

        .form {
            padding: 24px 16px;

            input, button {
                width: 100%;
            }

            .box5 {
                div {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }
        }
    }

    .how-to-pay {
        .block1 {
            ul {
                width: 100%;
            }
        }
    }

    .cooperation {
        .block1 {
            background-size: auto 100% !important;
            background-position-x: 75%;

            .fon {
                background: rgba(2, 11, 33, 0.58);
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }

        .block3 {
            .line {
                .column {
                    width: 100%;
                    margin-bottom: 12px;
                }
            }
        }
    }

    .ads {
        .block1 {
            background-size: auto 100% !important;
            background-position-x: 65%;

            .fon {
                background: rgba(2, 11, 33, 0.58);
                width: 100%;
                height: 100%;
            }

            h1 {
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }
    }

    .card-info {
        ._left {
            width: 100%;
        }

        ._right {
            width: 100%;

            .title {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 120%;
                color: #173073;
            }

            .price {
                font-family: Circe-Bold, sans-serif;
                font-size: 36px;
                line-height: 60px;
                display: flex;
                align-items: center;
                color: #2C2C2A;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    font-family: Montserrat, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;

                    color: #2C2C2A;

                    margin-bottom: 16px;

                    span {
                        font-family: Montserrat, sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        color: #2C2C2A;
                    }
                }
            }

            a {
                width: 222px;
                height: 49px;
                background: #E97B3B;
                border: 2px solid #E97B3B;
                border-radius: 5px;

                font-family: Circe-Regular, sans-serif;
                font-size: 14px;
                line-height: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                text-transform: uppercase;

                color: #FFFFFF;

                margin-top: 50px;
            }
        }

        .description {
            margin-top: 60px;
            p {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;

                color: #2C2C2A;
            }
        }
    }

    .cabinet {
        .main-side {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;

            .header {
                ._left {
                    padding-left: 16px;
                    padding-top: 12px;
                    padding-bottom: 12px;

                    .text {
                        font-size: 18px;
                    }

                    svg {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }

    .main {

        .block1 {
            background-size: 266% !important;
            background-position: 12% 100%;

            h1 {
                font-size: 48px;
                line-height: 56px;
                color: #FFFFFF;
            }

            .text {

                width: 100%;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #ffffff;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .btn-orange-outline {
                background: #E97B3B;
                border: 2px solid #E97B3B;
                color: #ffffff;
            }
        }

        .programs {

            button {
                width: 156px;
            }

            .title {
                font-family: Circe-ExtraBold, sans-serif;
                font-size: 16px;
                line-height: 24px;
            }

            .text {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 2px;
            }

        }
    }

    .forms {

        .block2 {
            .form {
                width: 100%;

                input[type=checkbox] {
                    width: 24px !important;
                    height: 24px !important;
                }

                .checkbox-label {
                    font-size: 12px !important;
                    line-height: 14px !important;
                }
            }
        }

    }


    button.slick-prev:before, button.slick-next:before {
        font-size: 0;
    }

}


.cabinet_news-title {
    font-style: Roboto;
    Size: 40px;
    Line-height: 46.88px;
    color: #173073;
    margin-bottom: 15px;
    padding-left: 10px;
}
.topic-img {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    overflow: hidden;
    margin-left: 10px;
}
.topic-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cabinet_news-text {
    width: 80%;
    padding-left: 10px;
}
.cabinet_news-title {
    font-style: normal;
    margin-top: 30px;
    line-height: 24px;
    size: 16px;
    .date{
        font: Montserat;
        line-height: 1;
        color: #2C2C2A;
        font-size: 28px;
        margin-left: auto;
        padding-right: 20px;
        b{
            color: rgba(44, 44, 42, 0.3);
        }
    }
}
.cabinet_back-button {
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 20px;
}
.cabinet_back-button a{
    margin-top: 30px;
    color: #2C2C2A;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.cabinet_icon-img {
    width: 9px;
    margin-right: 10px;
}
.cabinet-wrap {
    background-color: #FFFFFF;
    border-radius: 10px;
}

