$blue: #173073;
$orange: #E97B3B;

.mt20 {
    margin-top: 20px !important;
}
.mt30 {
    margin-top: 30px !important;
}

.mt32 {
    margin-top: 36px !important;
}

.mt36 {
    margin-top: 36px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb23 {
    margin-bottom: 23px !important;
}

.mb28 {
    margin-bottom: 28px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.pr10 {
   padding-right: 10px !important;
}

.mr26 {
    margin-right: 26px !important;
}

.mr42 {
    margin-right: 42px !important;
}

.mr64 {
    margin-right: 64px !important;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}
