<template>
    <lingallery :width="width" :height="height" :items="payload"/>
</template>

<script>

import Lingallery from 'lingallery';

export default {
    name: "index",
    props : {
        ad: String
    },
    computed: {
        payload: function () {
            let data = JSON.parse(this.$props.ad);
            let items = [];
            for (let i = 0; i < data.length; i++) {
                items.push({
                    src: `/storage/${data[i]}`,
                    thumbnail: `/storage/${data[i]}`
                });
            }
            return items
        }
    },
    mounted() {
        // console.log(this.$props.ad);
    },
    data() {
        return {
            width: 600,
            height: 400
        };
    },
    components: {
        Lingallery
    }
}
</script>

<style scoped>

</style>
