<template>
    <div class="container mt100 calculator">
        <div class="row">
            <div class="col-12">
                <p class="subtitle">Депозитный калькулятор</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pr-md-5">
                <div class="mt-md-5">
                    <div class="box2 mt-sm-0 mt-4">
                        <div class="d-flex align-items-end">
                            <label for="hata-cost" class="mr-auto mb-1 fs-16">Стоимость жилья</label>
                            <p class="cost mb-0" id="hata-cost">{{ setSpacer(value) }} ₸</p>
                        </div>
                        <div class="mb-5">
                            <VueSlider
                                v-model="value"
                                id="height_slider"
                                :min="min"
                                :max="max"
                                :interval="interval"
                                :processStyle="{
                                    background: '#E97B3B',
                                    height: '12px',
                                }"
                                :railStyle="{
                                    height: '12px'
                                }"
                                dotSize="30"
                            />
                        </div>
                        <div class="box2-1">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-column mb23">
                                        <p class="text">Ежемесячный платеж</p>
                                        <p class="payment">{{ setSpacer(monthly_payment) }} ₸</p>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <p class="text">Первоначальный взнос 30%/50%</p>
                                        <p class="amount">{{ setSpacer(second_payment) }} ₸</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-column mb23">
                                        <p class="text">Вступительный взнос 5%</p>
                                        <p class="rate">{{ setSpacer(first_payment) }} ₸</p>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <p class="text">Резервный фонд</p>
                                        <p class="term">{{ setSpacer(reserve_payment) }} ₸</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-md-5">
                <div class="box2 mt-sm-0 mt-4">
                    <v-faq-sform/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import VueSlider from 'vue-slider-component'
    import 'vue-slider-component/theme/default.css'

    export default {
        data() {
            return {
                value: 33000000,
                max: 50000000,
                min: 4000000,
                interval: 1000000,
                tooltip: false,
                table: [ ]
            }
        },
        computed: {
            monthly_payment: function () {
                for (let i = 0; i < this.table.length; i++) {
                    if (this.table[i].house_cost == this.value) {
                        return this.table[i].monthly_payment;
                    }
                }
            },
            second_payment: function () {
                for (let i = 0; i < this.table.length; i++) {
                    if (this.table[i].house_cost == this.value) {
                        return this.table[i].second_payment;
                    }
                }
            },
            first_payment: function () {
                for (let i = 0; i < this.table.length; i++) {
                    if (this.table[i].house_cost == this.value) {
                        return this.table[i].first_payment;
                    }
                }
            },
            reserve_payment: function () {
                for (let i = 0; i < this.table.length; i++) {
                    if (this.table[i].house_cost == this.value) {
                        return this.table[i].reserve_payment;
                    }
                }
            }
        },
        components: {
            VueSlider
        },
        async mounted() {
            this.table = await fetch('api/programs')
            .then((response) => {
                return response.json();
            });
        }
    }
</script>
<style scoped lang="scss">

    .cost {
        font-family: Circe-Regular, sans-serif;
        font-size: 32px;
        line-height: 1;
        color: #2C2C2A;
        width: max-content;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        text-align: right;

        &:focus {
            border: none;
            box-shadow: none;
            outline: none;
        }
    }

    select {
        height: 50px;
        margin-left: 0;
    }

    .box2 {
        .box2-1 {
            padding: 48px 56px 50px 48px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(11, 11, 77, 0.15);
            border-radius: 10px;

            .text {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #979797;
                margin-bottom: 8px;
            }

            .amount {
                font-family: Circe-Regular, sans-serif;
                font-size: 30px;
                line-height: 44px;
                color: #2C2C2A;
                margin-bottom: 0;
            }

            .payment {
                font-family: Circe-Regular, sans-serif;
                font-size: 38px;
                line-height: 56px;
                color: #E97B3B;
                margin-bottom: 0;
            }

            .rate {
                font-family: Circe-Regular, sans-serif;
                font-size: 38px;
                line-height: 56px;
                color: #2C2C2A;
                margin-bottom: 0;
            }

            .term {
                font-family: Circe-Regular, sans-serif;
                font-size: 30px;
                line-height: 44px;
                color: #2C2C2A;
                margin-bottom: 0;
            }

            button {
                width: 156px;
                height: 37px;
                border-radius: 3px;
                font-family: Circe-Regular, sans-serif;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-top: 28px;
            }

            .details {
                font-family: Circe-Regular, sans-serif;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
                color: #2C2C2A;
                margin-top: 39px;
                text-decoration: none;
            }

            small {
                font-family: Circe-Regular, sans-serif;
                font-size: 10px;
                line-height: 15px;
                color: #979797;
                margin-top: 10px;
            }
        }
    }

    ._left {
        width: 50%;
    }

    ._right {
        width: 50%;
    }

    @media screen and (max-width: 768px) {

        .cost {
            font-size: 16px;
            line-height: 24px;
        }

        .box2 {
            padding: 0 !important;
        }

        .box2-1 {
            padding: 32px 14px 32px 16px !important;

            .payment {
                font-size: 32px !important;
            }

            .rate {
                font-size: 28px !important;
            }

            .amount {
                font-size: 28px !important;
            }

            .term {
                font-size: 28px !important;
                text-align: right;
            }
        }

        ._left {
            width: 100%;
        }

        ._right {
            width: 100%;
        }
    }
    .fs-16 {
        font-size: 16px;
    }
</style>
