@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Circe-Regular';
    src: url('/fonts/Circe/Circe-Regular.eot');
    src: local('Circe-Regular'), local('Circe-Regular'),
    url('/fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Circe/Circe-Regular.woff') format('woff'),
    url('/fonts/Circe/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Bold';
    src: url('/fonts/Circe/Circe-Bold.eot');
    src: local('Circe-Bold'), local('Circe-Bold'),
    url('/fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Circe/Circe-Bold.woff') format('woff'),
    url('/fonts/Circe/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-ExtraBold';
    src: url('/fonts/Circe/Circe-ExtraBold.eot');
    src: local('Circe-ExtraBold'), local('Circe-ExtraBold'),
    url('/fonts/Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Circe/Circe-ExtraBold.woff') format('woff'),
    url('/fonts/Circe/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


