<template>
    <div class="block3 container mt100">
        <p class="subtitle">Пример работы накопительной системы</p>
        <div class="d-md-flex d-none justify-content-between box_1">
            <div style="width: 15%;" class="d-flex flex-column align-items-center">
                <img width="141" height="139" src="/img/01.png" alt="">
                <object data="/img/Group.svg" type="image/svg+xml"></object>
                <div class="d-flex flex-column">
                    <p class="title text-center">Ищем квартиру</p>
                    <p class="text text-center">Это текст о компании. Он необходим для дальней продвижения Вашего сайта. Вам будет  </p>
                </div>
            </div>
            <div style="width: 15%;" class="d-flex flex-column align-items-center">
                <div class="d-flex flex-column">
                    <p class="title text-center">Подписываем договор</p>
                    <p class="text text-center">Это текст о компании. Он необходим для дальней продвижения Вашего сайта. Вам будет  </p>
                </div>
                <object data="/img/Group2.svg" type="image/svg+xml"></object>
                <img width="141" height="139" src="/img/02.png" alt="">
            </div>
            <div style="width: 15%;" class="d-flex flex-column align-items-center">
                <img width="141" height="139" src="/img/03.png" alt="">
                <object data="/img/Group.svg" type="image/svg+xml"></object>
                <div class="d-flex flex-column">
                    <p class="title text-center">Первоначальный взнос</p>
                    <p class="text text-center">Это текст о компании. Он необходим для дальней продвижения Вашего сайта. Вам будет  </p>
                </div>
            </div>
            <div style="width: 15%;" class="d-flex flex-column align-items-center">
                <div class="d-flex flex-column">
                    <p class="title text-center">Ждем очередь</p>
                    <p class="text text-center">Это текст о компании. Он необходим для дальней продвижения Вашего сайта. Вам будет  </p>
                </div>
                <object data="/img/Group2.svg" type="image/svg+xml"></object>
                <img width="141" height="139" src="/img/04.png" alt="">
            </div>
            <div style="width: 15%;" class="d-flex flex-column align-items-center">
                <img width="141" height="139" src="/img/05.png" alt="">
                <object data="/img/Group.svg" type="image/svg+xml"></object>
                <div class="d-flex flex-column">
                    <p class="title text-center">Квартира ваша</p>
                    <p class="text text-center">Это текст о компании. Он необходим для дальней продвижения Вашего сайта. Вам будет  </p>
                </div>
            </div>
        </div>
        <div class="d-md-none d-flex justify-content-between box_2">
            <div class="_left">
                <div class="d-flex flex-column">
                    <p class="title text-start">Встреча в офисе кооператива</p>
                    <p class="text text-start">Получение консультации по программам кооператива, Ознакомления документов,и договора пая накопления в офисе.</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="title text-start">Регистрация пайщика в программе</p>
                    <p class="text text-start">Заключение договора о паевом взносе и оплата первоначального взноса согласно выбранной программы. Постановка пайщика в очередь</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="title text-start">Поиск и выбор объекта недвижимости</p>
                    <p class="text text-start">Вы выбираете подходящий вам вариант недвижимости укладываемый ваш бюджет. Далее отправляете копию док вашей выбранной недвижимости. Наши юристы и оценщики проверяют и оценивают</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="title text-start">Выкуп и оформление квартиры</p>
                    <p class="text text-start">После выбора квартиры, заключаеться договор купли-продажи с рассрочкой платежа. Документы отправляются на регистрацию в Управление Юстиции</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="title text-start">Заселение в квартиру, получение графика платежей</p>
                    <p class="text text-start">Ежемесячные платежи начинаются при заселении в квартиру, согласно индивидуального графика</p>
                </div>
            </div>
            <div class="_right">
                <img src="/img/graph.png" width="117" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GraphComponent"
    }
</script>

<style scoped lang="scss">
    .block3 {

        .box_1 {
            height: 404px;
            background-image: url("/img/bg-line.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-y: center;

            .title {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #173073;
                margin-bottom: 4px;
            }

            .text {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #2C2C2A;

            }
        }

        .box_2 {

            div  {
                margin-bottom: 25px;
            }

            .title {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #173073;
                margin-bottom: 4px;
            }

            .text {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #2C2C2A;

            }
        }

    }
</style>
