<template>
    <div class="col-12 col-md-6 mt-4">
        <div class="my-program h-100">
            <div class="d-flex align-items-center justify-content-between">
                <p class="title">Моя программа</p>
            </div>
            <p class="title2">{{ info.loan.program_type }}</p>
            <div class="d-flex justify-content-between mt20">
                <content-item
                    v-for="(item, index) in items"
                    :title="item.title"
                    :subtitle="item.subtitle"
                    :index="index"
                    :key="index"
                />
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-6">
                        <div class="h-100 info-counter align-items-center d-flex justify-content-center">
                            <p class="text1">Ваше место в очереди</p>
<!--                            <p class="counter">{{ info.client.queue_number }}</p>-->
<!--                            из-->
                            <div class="queue_counter">
                            <p class="counter">{{ info.client.queue_number }}</p>
                            <p class="counter_from">из {{ info.loan.queue_max }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" v-if="info.loan.planned_date">
                        <div class="h-100 info-counter align-items-center d-flex justify-content-center">
                            <p class="counter text-left ml-0 pl-0 mr-3">{{ info.loan.planned_date}}</p>
                            <p class="text1">Планируемая дата покупок</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Item from './Item.vue'

    export default {
        name: "MyProgram",
        props: {
            payload: {
                type: String,
                required: true
            }
        },
        computed: {
            info: function () {
                return JSON.parse(this.$props.payload);
            }
        },
        data: function () {
            return {
                items: [
                    {
                        title: 'Паевой взнос',
                        subtitle: '30%'
                    },
                    {
                        title: 'месяцев',
                        subtitle: '36'
                    },
                    {
                        title: 'В рассрочку',
                        subtitle: '0%'
                    },
                ]
            }
        },
        components: {
            'content-item': Item
        },
        mounted() {
            // console.log(this.info);
        }
    }
</script>

<style scoped lang="scss">
.queue_counter {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
p.counter_from {
    font-size: 14px;
    color: #9c9c9c;
    margin-bottom: 0;
}
    .my-program {
        padding: 24px 30px;
        background: #FFFFFF;
        box-shadow: 0px 0px 17px rgba(11, 11, 77, 0.15);
        border-radius: 10px;
    }

    .title2 {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #2C2C2A;
        margin-top: 13px;
    }

    .info-counter {
        background: #FFFFFF;
        border: 1px solid #D4D6E1;
        border-radius: 10px;
        padding: 10px;

        .counter, .planned {
            width: auto;
            font-family: Circe, sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: 100%;
            text-align: right;
            margin-bottom: 0;
            color: #2C2C2A;
            // border-right: 0.2px solid #979797;
            margin-left: 13px;
            padding-left: 10px;
        }
        .counter {
            font-size: 1.6vw;
        }
        .planned {
            font-size: 20px;
        }

        .text1 {
            font-family: Circe-Regular, sans-serif;
            font-size: 16px;
            line-height: 100%;
            color: #2C2C2A;
            margin-bottom: 0;
        }

        .text2 {
            font-family: Circe-Regular, sans-serif;
            font-size: 10px;
            line-height: 100%;
            color: rgba(44, 44, 42, 0.65);
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 768px) {
        .my-program {
            width: 100%;
            padding: 16px;
        }
    }

</style>
