<template>
    <div class="d-flex flex-column">
        <p class="subtitle">{{ subtitle }}</p>
        <p class="title">{{ title }}</p>
    </div>
</template>

<script>
    export default {
        name: "Item",
        props: {
            title: {
                type: String,
                required: true,
                default: ''
            },
            subtitle: {
                type: String,
                required: true,
                default: ''
            }
        }
    }
</script>

<style scoped>

    .subtitle {
        font-family: Circe-Regular, sans-serif;
        font-size: 72px;
        line-height: 100%;
        color: #E97B3B;
        margin-bottom: 0;
    }

    .title {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        color: #2C2C2A;
    }

    @media screen and (max-width: 768px) {
        .subtitle {
            font-size: 52px;
        }
    }

</style>
