<template>
    <div class="d-flex flex-column block3 container mt50">
        <p class="subtitle">Новости от Amanat Home</p>
        <div class="d-flex justify-content-center my-3">
            <div class="d-inline-block wrapper-btn">
                <button class="tab" :class="{ 'active-tab': type == 'new' }" @click="toggle('new')">Новые</button>
                <button class="tab" :class="{ 'active-tab': type == 'read' }" @click="toggle('read')">Просмотренные</button>
            </div>
        </div>
        <div class="">
            <div class="d-flex flex-wrap row mb-3">
                <div class="col-md-6"
                     v-for="(item, index) in news.data" >
                    <div class="position-relative h-100">
                        <div class="flex-column news h-100 justify-content-center">
                            <p class="title">Новости</p>
                            <p class="subtitle">{{ item.title }}</p>
                            <p class="description" v-html="item.preview"></p>
                            <a class="btnn" :href="`news/${item.slug}`">Подробнее</a>
                            <p class="date">Дата:{{ item.created_at_formated }}</p>
                        </div>
                        <div class="right-background" :style="`background-image: url(/storage/${item.image});`"></div>
                    </div>
                </div>
            </div>
        </div>
        <pagination :data="news" @pagination-change-page="getResults" style="justify-content: center;">
            <span slot="prev-nav">Предыдущая</span>
            <span slot="next-nav">Следующая</span>
        </pagination>
    </div>
</template>


<script>
import axios from 'axios';
export default {
    name: "NovostiComponent",
    data() {
        return {
            news: {},
            type: 'new'
        }
    },
    mounted() {
        this.getResults();
    },
    methods: {
        async getResults(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }
            try {
                const {data} = await axios.get(`/view-news?type=${this.type}&page=`+page,
                    {
                        headers: {
                            'Accept': 'application/json',
                        }
                    });
                this.news = data;
            } catch (err) {
                throw err;
            }

        },
        toggle(type) {
            this.type = type;
        }
    },
    watch: {
        type:function () {
            this.getResults(1)
        }
    },
}
</script>

<style scoped lang="scss">

.flex-column{
    border-radius: 7px;
    background-color: #f2f2f2;
    display: flex;
    margin-right: 15px;
    width: 100%;
}

.wrapper-btn {
    border: 1px solid #E97B3B;
    border-radius: 6px;
    padding: 5px 4px;
}
.active-tab {
    background-color: #E97B3B;
    color: #FFFFFF;
}
.tab {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: auto 1px;
    min-width: 164px;
}

.right-background {
    position: absolute;
    top: 0;
    object-fit: cover;
    background-size: cover;
    width: 50%;
    height: 100%;
    background-position: center center;
    right: 0px;

}
.block3 {
    background: #FFFFFF;
    box-shadow: 0 0 17px rgba(11, 11, 77, 0.15);
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

    .news {
        padding: 30px 50% 30px 30px;
        margin-bottom: 30px;

        .title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #2C2C2A;
            margin-bottom: 0;
        }

        .subtitle {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #E97B3B;
            margin-bottom: 12px;
        }

        .description {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #2C2C2A;
            margin-bottom: 12px;
        }

        .date {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #2C2C2A;
            margin-bottom: 5px;
            margin-top: 15px;
            display: block;

        }


        a {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Roboto, sans-serif;
            width: 138.86px;
            height: 42px;
            background: #E97B3B;
            border-radius: 5px;
        }

    }

    ._left {
        width: 49%;
    }

    ._right {
        width: 49%;
    }
}

.d-flex {
    justify-content: center;
    font: 18px Robotos, ans-serif;
    color: #FFFFFF;
    border: 2px #E97B3B;
}

@media screen and (max-width: 768px) {
    .block2 {

        .news {
            padding: 16px;
        }

        ._left {
            width: 100%;
        }

        ._right {
            width: 100%;
        }
    }
}
</style>
<style>
.page-item.active .page-link {
    color: #6a6873;
    background-color: #FFFFFF;
    border-color: #E97B3B;

}
.page-link{
    color: #6a6873;
}

.page-item.pagination-page-nav.active .sr-only{
    display: none;
}

.position-relative h-1 {
    display: flex;
}

.block3 .news{
    padding: 30px !important;
    margin-bottom: 30px;
    width: 50%;
    margin-right: 0px;
}

.right-background{
    position: inherit;
    width: 50%;
    border-radius: 0px 5px 5px 0px;
}
</style>
