<template>
    <Slide width="300">
        <a href="/" class="p-0 logo">
            <img width="166" height="77" :src="logo" alt="">
        </a>
        <div class="accordion flex-column" id="accordion">
            <div class="accordion-item" v-for="(item, index) in menu_items" :key="index">
                <h2 class="accordion-header" :id="`heading${index}`">
                    <button
                        v-if="item.url == '#'"
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="true"
                        :data-bs-target="`#collapse${index}`"
                        :aria-controls="`collapse${index}`"
                    >
                        {{ item.title }}
                    </button>
                    <a
                        v-else-if="item.url != '#'"
                        class="accordion-button collapsed"
                        :href="item.url"
                    >
                        {{ item.title }}
                    </a>
                </h2>
                <div
                    class="accordion-collapse collapse"
                    :id="`collapse${index}`"
                    :aria-labelledby="`heading${index}`"
                    :data-bs-parent="`#accordion`"
                >
                    <div class="accordion-body">
                        <div class="d-flex flex-column">
                            <a :href="link.url" v-for="(link, i) in item.children" :key="i">{{ link.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <select class="form-select" aria-label="Default select example">
            <option selected>RU</option>
            <option>KZ</option>
        </select>
        <a :href="loginUrl" class="log-in">Войти</a>
    </Slide>
</template>

<script>
import {Slide} from 'vue-burger-menu'

export default {
    components: {
        Slide
    },
    props: {
        logo: String,
        items: String,
        loginUrl: String
    },
    computed: {
        menu_items: function () {
            return JSON.parse(this.$props.items);
        }
    }
}
</script>

<style lang="scss">
.bm-burger-button {
    width: 25px;
    height: 20px;

    left: 20px;
    position: absolute;
    top: 25px;

    .line-style {
        width: 25px;
        height: 3px;
    }

    .bm-burger-bars {
        background-color: #E97B3B;
    }
}
</style>

<style scoped lang="scss">
.accordion-button.collapsed {
    white-space: nowrap;
}
.logo {
    padding-left: 28px !important;
    margin-bottom: 16px;
}

.log-in {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #E97B3B;
    padding: 0 0 0 28px;
}

select {
    width: 60px;
    height: 36px;
    margin: 0 0 0 28px;
    padding: 0;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-transform: uppercase;

    color: #2C2C2A;


    &:focus, :active {
        border: none;
        box-shadow: none;
    }
}

.accordion {
    padding: 0;
    border: none;

    .accordion-item {
        margin-bottom: 4px;
    }

    .accordion-collapse {
        border: none;
    }

    .accordion-button {
        border: none;
        height: 36px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        border-radius: 0;
        padding: 0 0 0 28px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: left;

        color: #2C2C2A;

        &::after {
            margin-right: auto;
            margin-left: 6px;
            background-image: url("/img/black-vector.svg");
            width: 18px;
            height: 10px;
        }

        &:not(.collapsed) {
            background-color: #173073;
            color: #ffffff;

            &::after {
                background-image: url("/img/white-vector.svg");
                width: 18px;
                height: 10px;
            }
        }
    }

    .accordion-body {
        padding-left: 28px;

        a {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 204.19%;

            display: flex;
            align-items: center;

            color: #173073;
        }
    }
}

</style>
