<template>
        <div class="accordion d-flex justify-content-evenly" id="menu_accordion">
            <menu-item
                v-for="(item, index) in menu_items"
                :links="item.children"
                :url="item.url"
                :title="item.title"
                :index="index"
                :key="index"
            />
        </div>

</template>

<script>
import MenuItem from './Item.vue'

export default {
    name: 'Menu',
    props: {
        items: String
    },
    computed: {
        menu_items: function () {
            return JSON.parse(this.$props.items);
        }
    },
    components: {
        'menu-item': MenuItem
    }
}
</script>

<style scoped lang="scss">

</style>
