<template>
        <div class="accordion-item">
            <div class="accordion-header d-flex align-items-center justify-content-center" :id="`menu_head${index}`">
                <h2>
                    <button
                        v-if="url == '#'"
                        class="btn btn-block text-left"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="true"
                        :data-bs-target="`#menu_collapse${index}`"
                        :aria-controls="`menu_collapse${index}`"
                    >
                        {{ title }}
                    </button>
                    <a
                        v-else-if="url != '#'"
                        class="btn btn-block text-left text-light"
                        :href="url"
                    >
                        {{ title }}
                    </a>
                </h2>
            </div>
            <div
                v-if="url == '#'"
                :id="`menu_collapse${index}`"
                :aria-labelledby="`menu_head${index}`"
                data-bs-parent="#menu_accordion"
                class="accordion-collapse collapse menu-items-wrapper"
            >
                <div class="menu-items-background"></div>
                <div class="accordion-body position-relative flex-wrap">
                    <div class="d-flex w-100">
                        <a v-for="link in links" :href="link.url" :key="link.title">{{ link.title }}</a>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
export default {
    name: 'MenuItem',
    props: {
        links: {
            type: Array,
            required: false,
            default: []
        },
        title: {
            type: String,
            required: true,
            default: ''
        },
        index: {
            type: Number,
            required: true
        },
        url: {
            type: String,
        }
    }
}
</script>

<style scoped>
.accordion-item {
    position: initial;
}

.menu-items-wrapper {
    position: absolute;
    top: 156px;
    left: 0;
    width: 100vw;
    z-index: 100;
}

.menu-items-background {
    background: white;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
</style>

