<template>
    <div class="block2 container">
        <div class="d-flex flex-lg-row flex-column justify-content-between">
            <div class="d-flex flex-column _left">
                <input v-model="search" type="text" class="form-control finder" aria-describedby="passwordHelpBlock"
                       placeholder="Маркетолог">
                <div class="d-flex flex-lg-row flex-column range align-items-lg-end align-items-start">
                    <p class="text mb-0">Уровень зарплаты</p>
                    <div class="d-flex flex-column">
                        <p class="range">{{salary_range[0]}} - {{salary_range[1]}} ₸</p>
                        <vue-slider
                            v-model="salary_range"
                            width="227px"
                            :enable-cross="false"
                            :tooltip=false
                            :min=0
                            :max=500000
                            :interval=1000
                        ></vue-slider>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column _center align-items-start">
                <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start top">
                    <p class="text mr42">Опыт работы</p>
                    <div class="d-flex">
                        <input v-model="work_experience"
                               type="checkbox"
                               class="btn-check"
                               value="Без-опыта"
                               name="work-experience"
                               id="no-experience"
                               autocomplete="off">
                        <label class="btn btn-outline-success mr-3" for="no-experience">Без опыта</label>

                        <input v-model="work_experience"
                               type="checkbox"
                               class="btn-check"
                               value="1-2 года"
                               name="work-experience"
                               id="1-2-years"
                               autocomplete="off">
                        <label class="btn btn-outline-success mr-3" for="1-2-years">1-2 года</label>

                        <input v-model="work_experience"
                               type="checkbox"
                               class="btn-check"
                               value="2-3 года"
                               name="work-experience"
                               id="more-than-3-years"
                               autocomplete="off">
                        <label class="btn btn-outline-success mr-3" for="more-than-3-years">более 3-х лет</label>
                    </div>
                </div>
                <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start bottom mt36">
                    <p class="text mr26">График работы</p>
                    <div class="d-flex">
                        <input v-model="work_schedule"
                               type="checkbox"
                               class="btn-check"
                               value="Полный день"
                               name="work-schedule"
                               id="full-day"
                               autocomplete="off">
                        <label class="btn btn-outline-success mr-3" for="full-day">Полный день</label>

                        <input v-model="work_schedule"
                               type="checkbox"
                               class="btn-check"
                               value="Удаленная работа"
                               name="work-schedule"
                               id="remote-work"
                               autocomplete="off">
                        <label class="btn btn-outline-success mr-3" for="remote-work">Удаленная работа</label>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column _right align-items-start justify-content-between">
                <div class="d-flex align-items-center">
                    <p class="text">Город:</p>
                    <select v-model="city" class="form-select" aria-label="Default select example">
                        <option :value="item.value" v-for="item in options">{{ item.text }}</option>
                    </select>
                </div>
                <div class="d-flex align-items-center mt-lg-0 mt-3">
                    <button class="btn btn-orange" @click="submit">Найти вакансии</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueSlider from 'vue-slider-component'
    import 'vue-slider-component/theme/default.css'

    export default {
        name: "FilterComponent",
        data() {
            return {
                search: '',
                salary_range: [59000, 369000],
                work_experience: [],
                work_schedule: [],
                city: '',
                options: [
                    { text: 'Алматы', value: 'Алматы' },
                    { text: 'Караганда', value: 'Караганда' },
                    { text: 'Астана', value: 'Астана' },
                    { text: 'Атырау', value: 'Атырау' },
                ]
            }
        },
        mounted: function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const location = urlParams.get('location');
            this.city = location;
        },
        components: {
            VueSlider
        },
        methods: {
            submit: function () {
                var url = location.protocol + '//' + location.host + location.pathname;

                let params = {
                    finder: this.search,
                    salary: this.salary_range,
                    experience: this.work_experience,
                    schedule: this.work_schedule,
                    location: this.city
                }

                for (let key in params) {
                    if (url.indexOf('?') > -1) {
                        url += `&${key}=${params[key]}`;
                    } else {
                        url += `?${key}=${params[key]}`;
                    }
                }

                window.location.href = url;

            }
        }
    }
</script>

<style lang="scss">
    .range {
        width: 100%;

        div {
            width: 100%;

            .vue-slider {
                width: 100% !important;
            }
        }
    }
</style>

<style scoped lang="scss">

    .block2 {
        margin-top: 14px;
        border: 1px solid #E97B3B;
        border-radius: 10px;
        padding: 41px 50px 30px;

        .text {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #2C2C2A;
            margin-bottom: 0;
        }

        ._left {
            .finder {
                width: 411px;
                height: 41px;
            }

            .range {
                margin-top: 33px;

                .text {
                    margin-right: 25px;
                }

                p.range {
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 100%;
                    text-align: right;

                    color: #6F6F6F;

                    margin-bottom: 10px;
                    margin-top: 0;
                }
            }
        }

        ._center {

            .top {

                .btn-check:checked + .btn-outline-success {
                    background-color: #E97B3B;
                    color: #ffffff;
                }

                label {
                    width: 71.87px;
                    height: 41px;
                    border: 1px solid #E97B3B;
                    border-radius: 5px;
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #2C2C2A;
                    margin-bottom: 0;

                    &:hover, :focus, :active, :visited {
                        background-color: #E97B3B !important;
                        color: #ffffff;
                    }
                }
            }

            .bottom {

                .btn-check:checked + .btn-outline-success {
                    background-color: #E97B3B;
                    color: #ffffff;
                }

                label {
                    width: 117.51px;
                    height: 41px;
                    border: 1px solid #E97B3B;
                    border-radius: 5px;
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #2C2C2A;
                    margin-bottom: 0;

                    &:hover, :focus, :active, :visited {
                        background-color: #E97B3B !important;
                        color: #ffffff;
                    }
                }
            }
        }

        ._right {

            margin-top: 36px;

            select {
                border: none;
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                display: flex;
                align-items: center;
                color: #E97B3B;
                text-decoration: dotted;
            }

            button {
                width: 182px;
                height: 41px;
                font-family: Circe-Regular, sans-serif;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }


    @media screen and (max-width: 960px) {
        .block2 {
            padding: 32px 16px;

            .text {
                margin-bottom: 12px;
            }

            ._left {
                .finder {
                    width: 100%;
                    margin-left: 0px;
                }
            }

            ._center {
                margin-top: 36px;

                .top {
                    width: 100%;
                    div {
                        width: 100%;
                    }
                }
            }
        }
    }

</style>
