<template>
    <div class="col-12 col-md-6 mt-4">
        <div class="circle-progress align-items-center h-100">
            <div class="d-flex align-items-center justify-content-between">
                <p class="title">Прогресс</p>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <vue-ellipse-progress
                            :progress="info.loan.percent_accumulated"
                            :angle="-90"
                            color="#E97B3B"
                            emptyColor="#D4D6E1"
                            :size="150"
                            :thickness="15"
                            :emptyThickness="13"
                            :noData="false"
                            :loading="false"
                            fontColor="#2C2C2A"
                            :half="false"
                            :gap="10"
                            fontSize="36px"
                        >
                            <span class="total-value" slot="legend-value">%</span>
                            <p class="total-caption" slot="legend-caption" v-if="info.loan.percent_accumulated <= 30">Собрано</p>
                            <p class="total-caption" slot="legend-caption" v-else>Выплачено</p>
                            
                        </vue-ellipse-progress>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-center align-items-center h-100 month">
                        <vue-ellipse-progress
                            :progress="Math.round(info.loan.months_past / info.loan.months_total * 100)"
                            :angle="-90"
                            :legend="true"
                            :size="150"
                            :thickness="15"
                            :emptyThickness="13"
                            :gap="10"
                            color="#E97B3B"
                            emptyColor="#D4D6E1"
                            fontColor="#2C2C2A"
                            fontSize="36px"
                        >
                            <span class="total-value" slot="legend-value">
                                <span class="month-progress">{{ info.loan.months_past }}</span>
                                /
                                <span class="month-total">{{ info.loan.months_total }}</span>
                            </span>
                            <p class="total-caption" slot="legend-caption">Месяцев</p>
                        </vue-ellipse-progress>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="m-0 clearfix">
                        <span>Собрано: </span>
                        <span class="float-right progress-collected">{{ setSpacer(info.loan.payments_amount) }} тг</span>
                    </p>
                    <p class="m-0 clearfix">
                        <span>Всего: </span>
                        <span class="float-right progress-total">{{ setSpacer(info.client.price) }} тг</span>
                    </p>
                </div>
                <div class="col-6">
                    <p class="m-0 clearfix">
                        <span>Пройдено месяцев: </span>
                        <span class="float-right progress-collected">{{ info.loan.months_past }}</span>
                    </p>
                    <p class="m-0 clearfix">
                        <span>Осталось месяцев: </span>
                        <span class="float-right progress-total">{{ info.loan.months_total - info.loan.months_past }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "app",
    props: {
        payload: {
            type: String,
            required: true
        }
    },
    computed: {
        info: function () {
            return JSON.parse(this.$props.payload);
        }
    },
    mounted() {
        console.log(this.$props.payload);
    },
};
</script>

<style lang="scss">

.circle-progress {
    padding: 24px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 17px rgba(11, 11, 77, 0.15);
    border-radius: 10px;
}

.month {
    .ep-legend--value__counter {
        display: none;
    }
}
.ep-legend--value__counter {
    font-family: Circe-Bold, sans-serif;
    color: #2C2C2A;
}

.total-value {
    font-family: Circe-Bold, sans-serif;
    color: #2C2C2A;
}

.total-caption {
    font-family: Circe-Regular, sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #9A9DB0;
}
.month-progress {
    font-size: 36px;
    color: #E97B3B;
    font-weight: 600;
}
.month-total {
    font-size: 20px;
}
.progress-total {
    color: #2C2C2A;
    font-size: 18px;
    font-weight: 700;
}
.progress-collected {
    color: #E97B3B;
    font-size: 18px;
    font-weight: 700;
}
</style>
