<template>
    <div class="block4 mt100">
        <div class="d-lg-flex d-none flex-column container">
            <p class="subtitle mt40 mb-0">Наши преимущества</p>
            <div class="row">
                <div class="col-4 _left d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-end align-items-center">
                        <p class="text text-right">Открывайте новые вклады
                            <br><span>с повышенной ставкой</span>
                        </p>
                        <img width="48" height="48" src="/img/budget1.png" alt="">
                    </div>
                    <div class="d-flex justify-content-end mt100">
                        <p class="text text-right">Обменивайте валюту
                            <br><span>по выгодному курсу</span>
                        </p>
                        <img width="48" height="48" src="/img/money-bag.png" alt="">
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <img width="364" height="411" src="/img/girl.png" alt="">
                    </div>
                </div>
                <div class="col-4 _right d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-start align-items-center">
                        <img width="48" height="48" src="/img/transaction1.png" alt="">
                        <p class="text text-left">
                            <span>Контролируйте</span>
                            <br>накопленные средства
                        </p>
                    </div>
                    <div class="d-flex justify-content-start mt100">
                        <img width="48" height="48" src="/img/online-banking1.png" alt="">
                        <p class="text text-left">
                            <span>Оплачивайте услуги бесплатно</span>
                            или с минимальной комиссией
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-lg-none d-block">
            <p class="subtitle">Наши преимущества</p>
            <div class="block-in d-flex align-items-end position-relative">
                <div class="ellipse1">
                    <svg>
                        <use xlink:href="/img/sprite.svg#ellipse"></use>
                    </svg>
                </div>
                <div class="ellipse2">
                    <svg>
                        <use xlink:href="/img/sprite.svg#ellipse"></use>
                    </svg>
                </div>
                <div class="d-flex box flex-column">
                    <div class="d-flex">
                        <object type="image/svg+xml" data="/img/budget2.svg"></object>
                        <p class="text">НА ВСЕЙ ТЕРРИТОРИИ РК
                            <span>Программа осуществляется на всей территории РК</span>
                        </p>
                    </div>
                    <div class="d-flex">
                        <object type="image/svg+xml" data="/img/money-bag2.svg"></object>
                        <p class="text">МИНИМАЛЬНЫЙ ПЕРВОНАЧАЛЬНЫЙ ВЗНОС
                            <span>от ориентировочной стоимости недвижимости</span>
                        </p>
                    </div>
                    <div class="d-flex">
                        <object type="image/svg+xml" data="/img/transaction2.svg"></object>
                        <p class="text"><span>МИНИМАЛЬНЫЙ ПАКЕТ ДОКУМЕНТОВ</span>
                            (уд. личности, адресная справка).
                        </p>
                    </div>
                    <div class="d-flex">
                        <object type="image/svg+xml" data="/img/online-banking2.svg"></object>
                        <p class="text"><span>ПЕРЕУСТУПКА 3-ЕМУ ЛИЦУ</span> Возможность переуступки прав требования третьему лицу, в момент оформления жилья у нотариуса.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped lang="scss">
    .block4 {
        background: #F9F9F9;

        ._left {

            .text {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                text-align: right;

                color: #2C2C2A;

                margin-bottom: 0;

                span {
                    font-weight: bold;
                }
            }

            img {
                margin-left: 18px;
            }
        }

        ._right {

            .text {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                text-align: right;

                color: #2C2C2A;

                margin-bottom: 0;

                span {
                    font-weight: bold;
                }
            }

            img {
                margin-right: 18px;
            }
        }
    }

    @media screen and (max-width: 960px) {

        .block4 {
            background: transparent;

            .ellipse1 {
                width: 92px;
                height: 92px;
                position: absolute;
                left: 0 !important;
                top: 0 !important;
                overflow: hidden;

                svg {
                    width: 92px !important;
                    height: 92px !important;
                    position: absolute;
                    left: -30%;
                    top: -30%;
                }
            }

            .ellipse2 {
                width: 109px;
                height: 109px;
                position: absolute;
                right: 0 !important;
                bottom: 0 !important;
                overflow: hidden;

                svg {
                    width: 109px !important;
                    height: 109px !important;
                    position: absolute;
                    right: -50%;
                    bottom: -50%;

                }
            }

            .block-in {
                width: 100%;
                height: 453px;
                box-shadow: 0px 0px 22px rgba(11, 11, 77, 0.2);
                border-radius: 10px;
                padding-left: 16px;
                padding-bottom: 24px;

                &:after {
                    content: "";
                    background-image: url("/img/girl.png");
                    background-repeat: no-repeat;
                    position: absolute;
                    z-index: 100000;
                    top: -5%;
                    left: 45%;
                    background-size: 100%;
                    width: 50%;
                    height: 100%;
                }

                object {
                    width: 42px;
                    height: auto;
                    margin-right: 10px;
                }

                .box {
                    div {
                        margin-bottom: 21px;
                    }
                }

                .text {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: left;
                    color: #2C2C2A;

                    margin-bottom: 0;

                    width: 250px;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }

    }

    @media screen and (max-width: 767px) {
        .block4 {
            background: transparent;

            .ellipse1 {
                left: -10%;
                top: -7%;
            }

            .ellipse2 {
                right: -15%;
                bottom: -10%;
            }

            .block-in:after {
                content: "";
                background-image: url("/img/girl.png");
                background-repeat: no-repeat;
                position: absolute;
                z-index: 100000;
                top: -5%;
                left: 22%;
                background-size: 100%;
                width: 55%;
                height: 100%;
            }
        }
    }
</style>
