<template>
    <div class="d-flex flex-wrap cards mt30">
        <div
            v-for="(ad, index) in payload"
            class="card position-relative"
            style="width: 315px;"
            :key="index"
        >
            <img :src="`/storage/${JSON.parse(ad.images)[0]}`" class="card-img-top" :alt="ad.address">
            <div class="position-absolute fon"></div>
            <div class="card-body">
                <h5 class="card-title">Количество комнат: {{ ad.room_amount }}, {{ ad.general_area }} м², {{ ad.level }}/{{ ad.level_amount }} этаж, {{ ad.address }}</h5>
                <p class="card-text">{{ ad.price }} тг</p>
                <a class="btn" :href="ad.link">Посмотреть</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props: {
            ads: String
        },
        computed: {
            payload: function () {
                return JSON.parse(this.$props.ads);
            }
        }
    }
</script>

<style scoped lang="scss">

    .cards {
        margin-top: 37px;

        .card {
            margin-right: 20px;
        }

        .fon {
            width: 100%;
            background: #173073;
            opacity: 0.25;
            border-radius: 5px 5px 0 0;
        }

        a {
            width: 100%;
            height: 49px;
            border: 1px solid #E97B3B;
            box-sizing: border-box;
            border-radius: 5px;

            font-family: Circe-Regular, sans-serif;
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            color: #E97B3B;

            &:hover {
                background: #E97B3B;
                border: 1px solid #E97B3B;
                color: #ffffff;
            }
        }

        .views {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(66, 73, 101, 0.75);
            margin-left: 5px;
        }

        .price {

            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #173073;

            span {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
            }
        }

        .btn-group {
            position: absolute;
            right: 0;
            top: 0;

            button {
                color: #ffffff;
                font-size: 24px;
                padding: 1px 10px;
            }
        }
    }

    .card-title {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #173073;
    }

    .card-text {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #2C2C2A;
    }

</style>
