<template>
    <div class="container mt60 news">
        <a class="subtitle" href="/news">Новости</a>
        <VueSlickCarousel v-bind="settings" class="mt-3">
<!--            <div class="new news1 position-relative"-->
<!--                v-for="(item, index) in payload"-->
<!--                :style="{ 'background-image': `url('/storage/${item.image}')`, 'background-position': 'right' }"-->
<!--                :key="index"-->
<!--            >-->
<!--                <a :href="`news/${item.slug}`">-->
<!--                    <div class="box position-absolute">-->
<!--                        <p class="text">{{ item.category }}:-->
<!--                            {{ item.title }}</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->

            <div  v-for="(item, index) in payload" :key="index">
                <div v-if="item.youtube_link" class="position-relative h-100">
                    <iframe
                        width="100%"
                        height="350"
                        :src="item.youtube_link"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    >
                    </iframe>
                </div>
                <div class="position-relative h-100" v-else>
                    <div class="flex-column news h-100 justify-content-center news_block-item" >
                        <div class="news_block-head">
                            <p class="title">Новости</p>
                            <p class="subtitle1">{{ item.title }}</p>
                        </div>
                        <p class="description" v-html="item.preview"></p>
                        <div class="news_block-bottom">
                            <a class="btnn" :href="`news/${item.slug}`">Подробнее</a>
                            <p class="date">Дата:{{ item.created_at_formated }}</p>
                        </div>
                    </div>
                    <div class="right-background" :style="`background-image: url(/storage/${item.image});`"></div>
                </div>
            </div>

        </VueSlickCarousel>
    </div>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    // optional style for arrows & dots
    import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

    export default {
        name: "News",
        props: {
            news: String
        },
        computed: {
            payload: function () {
                return JSON.parse(this.$props.news);
            }
        },
        data() {
            return {
                settings: {
                    "infinite": true,
                    "arrows": true,
                    "dots": true,
                    "speed": 500,
                    "slidesToShow": 2,
                    "slidesToScroll": 1,
                    "initialSlide": 0,
                    "swipe": true,
                    "variableWidth": true,
                    "rows": 1,
                    "responsive": [
                        {
                            "breakpoint": 1024,
                            "settings": {
                                "slidesToShow": 3,
                                "slidesToScroll": 3,
                                "infinite": true,
                            }
                        },
                        {
                            "breakpoint": 600,
                            "settings": {
                                "slidesToShow": 2,
                                "slidesToScroll": 2,
                                "initialSlide": 2,
                            }
                        },
                        {
                            "breakpoint": 480,
                            "settings": {
                                "slidesToShow": 1,
                                "slidesToScroll": 1,
                            }
                        }
                    ]
                },
            }
        },
        components: {VueSlickCarousel},
    }
</script>

<style scoped lang="scss">
.news_block-bottom{
    position: absolute;
    bottom: 20px;
}
.news_block-head {
    position: absolute;
    top: 20px;
    width: 50%;
}

.news_block-item{
    min-height: 350px;
}

.flex-column {
    border-radius: 7px;
    background-color: #f2f2f2;
    display: flex;
    margin-right: 15px;
    width: 50%;
    padding: 20px;
}
.title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #2C2C2A;
    margin-bottom: 0;
}

.subtitle1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #E97B3B;
    margin-bottom: 12px;
    padding-top: 10px;
}

.description {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #2C2C2A;
    margin-bottom: 12px;
}

.date {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2C2C2A;
    margin-bottom: 5px;
    margin-top: 15px;
    display: block;

}
.btnn{
    color: white;
    background: #E97B3B;
    min-width: 160px;
    height: 42px;
    display: flex !important;
    justify-content: center;
    align-items: center;

    border-radius: 7px;
}
.right-background {
    position: absolute;
    top: 0;
    object-fit: cover;
    background-size: cover;
    width: 50%;
    height: 100%;
    background-position: center center;
    right: 0px;

}
    .news {

        .new {
            width: 427px;
            height: 349px;
            background-size: cover;


            .box {
                background: linear-gradient(244.86deg, #FCA92A 18.06%, #E97B3B 91.3%), #173073;
                border-radius: 5px;
                left: 20px;
                top: 20px;
                padding: 23px 22px 40px 23px;
                width: 185px;
                height: 191px;

                .text {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 26px;
                    color: #FFFFFF;
                    margin-bottom: 0;

                    span {
                        font-weight: bold;
                        font-size: 38px;
                        line-height: 45px;
                    }
                }
            }
        }

    }

    @media screen and (max-width: 768px) {

        .news {
            .new {
                .box {
                    width: 145px !important;
                    height: 150px !important;

                    .text {
                        font-size: 16px;
                        line-height: 19px;
                        span {
                            font-size: 32px;
                            line-height: 37px;
                        }
                    }
                }
            }
        }
    }
</style>
