<template>
    <div class="block2 container mt50">
        <p class="subtitle">Все программы</p>
        <!-- <div class="d-flex align-items-center d-lg-block d-none">
            <p class="subtitle">Все программы</p>

            <input type="radio" class="btn-check" value="Накопительная" name="options" id="accumulative"
                   autocomplete="off" checked>
            <label class="btn btn-secondary" for="accumulative">Накопительная</label>

            <input type="radio" class="btn-check" value="Доступное жилье" name="options" id="affordable-housing"
                   autocomplete="off">
            <label class="btn btn-secondary" for="affordable-housing">Доступное жилье</label>

            <input type="radio" class="btn-check" value="Строительная" name="options" id="building"
                   autocomplete="off">
            <label class="btn btn-secondary" for="building">Строительная</label>
        </div> -->
        <div>
            <div
                v-for="(program, index) in programms"
                :key="index"
                :id="`program${program.id}`"
                :class="`prog${program.id}`"
                class="d-flex program position-relative"
            >
                <div class="d-flex flex-column _left justify-content-lg-start justify-content-end">
                    <p class="title">{{ program.title }}</p>
                    <div v-html="program.description"/>
                </div>

                <div class="d-flex _right justify-content-center align-items-center">
                    <img width="406" height="455" :src="`/storage/${program.image}`" alt="">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProgrammyComponent",
        props: {
            payload: String
        },
        computed: {
            programms: function () {
                return JSON.parse(this.$props.payload);
            }
        },
    }
</script>

<style scoped lang="scss">
    .block2 {

        .subtitle {
            margin-right: 48px;
            margin-bottom: 0;
        }

        .btn-check:checked + .btn-secondary {
            background: rgba(218, 218, 218, 0.53);
            border-radius: 10px;
            color: #434343;
        }

        .btn-secondary {
            width: max-content;
            height: 36px;
            background-color: transparent;
            border-color: transparent;
            color: #767675;
            margin-right: 32px;
            margin-bottom: 0;

            &:hover {
                background: rgba(218, 218, 218, 0.53);
                border-radius: 10px;
                color: #434343;
            }
        }

        .program {
            background: #FFFFFF url("/img/group390.png");
            background-size: cover;
            box-shadow: 0 0 15px rgba(137, 137, 137, 0.26);
            border-radius: 10px;
            width: 100%;
            margin-top: 40px;
        }

        ._left {
            width: 60%;
            padding: 50px 0 44px 60px;

            .title {
                font-family: Circe-ExtraBold, sans-serif;
                font-size: 30px;
                line-height: 44px;
                color: #173073;
            }

            .description {
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                color: #2C2C2A;
            }

            ul {
                padding-left: 1rem;
                margin-bottom: 0;

                li {
                    font-family: Montserrat, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 25px;
                    color: #2C2C2A;
                    margin-bottom: 12px;

                    &::marker {
                        color: #E97B3B;
                        font-size: 20px;
                    }

                    span {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 148.69%;
                        color: #E97B3B;
                    }
                }
            }
        }

        ._right {
            width: 40%;

            .pic {
                width: 406px;
                height: 455px;
            }
        }
    }

    @media screen and (max-width: 960px) {
        .block2 {

            margin-top: 50px;

            .prog1:before {
                content: "";
                background-image: url("/img/girl1.png");
                background-repeat: no-repeat;
                position: absolute;
                z-index: 1;
                top: -50px;
                background-size: 100%;
                width: 80%;
                height: 50%;
                left: 10%;
            }

            .prog2:before {
                content: "";
                background-image: url("/img/man.png");
                background-repeat: no-repeat;
                position: absolute;
                z-index: 1;
                top: -40px;
                background-size: 70%;
                width: 80%;
                height: 50%;
                left: 20%;
            }


            .prog3:before {
                content: "";
                background-image: url("/img/girl2.png");
                background-repeat: no-repeat;
                position: absolute;
                z-index: 1;
                top: -50px;
                background-size: 100%;
                width: 75%;
                height: 50%;
                left: 10%;
            }

            .program {
                background: none;
            }

            ._left {
                width: 100%;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 16px;
                padding-top: 180px;
                .title {
                    font-family: Circe-ExtraBold, sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;

                    color: #173073;
                }

                .description {
                    font-family: Montserrat, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 141.4%;
                    color: #2C2C2A;
                }

                ul {
                    li {
                        font-family: Montserrat, sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #2C2C2A;
                    }
                }
            }

            ._right {
                display: none !important;
            }

        }
    }
</style>
