<template>
    <div class="row">
        <div class="col-12 mt-4">
            <div class="payment-calendar">
                <p class="title">Календарь платежей</p>
                <div class="table-responsive">
                    <table class="table mt20">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Период</th>
                            <th scope="col">Сумма платежа</th>
                            <th scope="col">Внесено</th>
                            <th scope="col">Остаток</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <content-item
                            v-for="(item, index) in info.schedule"
                            :period="item.period"
                            :payment_amount="item.payment_actual"
                            :entered="item.payment_actual"
                            :remains="item.payment_remainder"
                            :status="item.status"
                            :total_debt="item.debt"
                            :key="index"
                            :index="index"
                        />
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Item from './Item.vue'

    export default {
        name: "PaymentCalendar",
        props: {
            payload: {
                type: String,
                required: true
            }
        },
        computed: {
            info: function () {
                return JSON.parse(this.$props.payload);
            }
        },
        data: function () {
            return {
                // items: [
                //     {
                //         period: 'Январь 2020',
                //         payment_amount: 200000,
                //         entered: 160000,
                //         remains: 40000,
                //         status: 'полностью',
                //         total_debt: 19000000,
                //     },
                //     {
                //         period: 'Февраль 2020',
                //         payment_amount: 200000,
                //         entered: 160000,
                //         remains: 40000,
                //         status: 'частично',
                //         total_debt: 18960000,
                //     },
                //     {
                //         period: 'Март 2020',
                //         payment_amount: 200000,
                //         entered: 160000,
                //         remains: 40000,
                //         status: 'частично',
                //         total_debt: 18760000,
                //     },
                //     {
                //         period: 'Апрель 2020',
                //         payment_amount: 200000,
                //         entered: 160000,
                //         remains: 40000,
                //         status: 'полностью',
                //         total_debt: 18560000,
                //     },
                //     {
                //         period: 'Май 2020',
                //         payment_amount: 200000,
                //         entered: 160000,
                //         remains: 40000,
                //         status: 'частично',
                //         total_debt: 17020000,
                //     },
                //     {
                //         period: 'Июнь 2020',
                //         payment_amount: 200000,
                //         entered: 160000,
                //         remains: 40000,
                //         status: 'полностью',
                //         total_debt: 15880000,
                //     },
                // ]
            }
        },
        components: {
            'content-item': Item
        }
    }
</script>

<style scoped lang="scss">
    .payment-calendar {
        background: #FFFFFF;
        box-shadow: 0 0 17px rgba(11, 11, 77, 0.15);
        border-radius: 10px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    thead {
        tr {
            th {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #2C2C2A;
                border-color: #dee2e6 !important;

                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    tbody {
        tr {
            th, td {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #2C2C2A;
                border-color: #dee2e6 !important;

                display: table-cell;
                vertical-align: middle;
            }
        }
    }


</style>
