<template>
    <tr>
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ period }}</td>
        <td>{{ payment_amount }} ₸</td>
        <td>{{ entered }} ₸</td>
        <td>{{ remains }} ₸</td>
        <td>
            <div v-if="status === 'Полностью'" class="d-flex justify-content-center text-success align-items-center status">
                {{ status }}
            </div>
            <div v-else class="d-flex justify-content-center text-danger align-items-center status">
                {{ status }}
            </div>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "Item",
        props: {
            period: {
                type: String,
                required: true,
                default: ''
            },
            payment_amount: {
                type: Number,
                required: true,
                default: 0
            },
            entered: {
                type: Number,
                required: true,
                default: 0
            },
            remains: {
                type: Number,
                required: true,
                default: 0
            },
            status: {
                type: String,
                required: true,
                default: ''
            },
            total_debt: {
                type: Number,
                required: true,
                default: 0
            },
            index: {
                type: Number,
                required: true,
                default: 0
            }
        }
    }
</script>

<style scoped lang="scss">
    tr {
        th, td {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #2C2C2A;
            border-color: #dee2e6 !important;

            display: table-cell;
            vertical-align: middle;
        }
    }

    .status {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        width: 96px;
        height: 26px;
        background: #FFFFFF;
        border: 0.6px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 10px;
    }
</style>
