<template>
    <div class="col-12 col-md mt-4">
        <div class="circle-progress align-items-center h-100">
            <p class="text-center m-0">
                Данные по платежам и накопленной сумме обновляются 
                <span class="colored-text">
                    раз в сутки
                </span>
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: "app",
    props: {
        payload: {
            type: String,
            required: true
        }
    },
    computed: {
        info: function () {
            return JSON.parse(this.$props.payload);
        }
    },
    mounted() {
        console.log(this.$props.payload);
    },
};
</script>

<style lang="scss" scoped>

.circle-progress {
    padding: 24px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 17px rgba(11, 11, 77, 0.15);
    border-radius: 10px;
}
.colored-text {
    color: #E97B3B;
}
</style>