<template>
    <div>
        <form ref="formComplex" action="/request/complex" method="post" @submit="guard($event)">
            <template v-if="errors.length">
                    <div class="row">
                        <div class="alert-danger col-12 col-md-3" v-for="error in errors"> {{ error }} </div>
                    </div>
            </template>
            <input type="hidden" name="_token" :value="csrf">
                <div class="row align-items-end">
                    <div class="col-12 col-md-6 col-lg-3">
                        <label for="name" class="form-label_complex">Ваше ФИО</label>
                        <input class="form-control_complex" placeholder="Введите имя" type="text" id="name" name="name" v-model="name">
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <label for="phone" class="form-label_complex">Номер телефона</label>
                        <input class="form-control_complex" placeholder="+7(123)456-78-90" type="text" id="phone" name="phone" v-mask="'+7(###)###-##-##'" v-model="phone">
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <label for="city" class="form-label_complex">С какого Вы города?</label>
                        <input class="form-control_complex" placeholder="Введите город" type="text" id="city" name="city" v-model="city">
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <button type="submit" :disabled="clicked" class=" btn btn-blue_light w-100">
                            Оставить заявку
                        </button>
                    </div>
                </div>
        </form>
    </div>
</template>

<script>
export default {
    props: [
    ],
    name: 'ComplexForms',
    data() {
        return {
            errors: [],
            name: null,
            phone: null,
            city: null,
            clicked: false,
            myInputModel: '',
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },
    mounted() {

    },
    methods:{
        guard(event){
            if (this.name && this.phone) {
                this.$refs.formContacts.submit();
                this.clicked = true;
                setTimeout(() => this.clicked = false, 2000);
                return true;
            }
            this.errors = [];
            if (!this.name) {
                this.errors.push('Требуется указать имя.');
            }
            if (!this.phone) {
                this.errors.push('Требуется указать телефон.');
            }
            event.preventDefault();
        }
    }
}
</script>

<style lang="scss" >

</style>
