<template>
    <div class="layout-slick">



        <VueSlickCarousel v-bind="settings">
            <div class="layout_cart">
                <div class="upper-line">
                    <div class="cart_view">
                        <a data-fancybox="gallery" href="/img/complex/plan1.jpg"><img src="/img/complex/view.png"
                                                                                      alt=""></a>
                    </div>
                    <div class="cart_square">
                        <div class="cart_square-numb">
                            61,4
                        </div>
                        <div class="cart_square-desc">
                            м², площадь
                        </div>
                    </div>
                    <div class="cart_room">
                        <div class="cart_room-numb">
                            2
                        </div>
                        <div class="cart_room-desc">
                            комнат
                        </div>
                    </div>
                </div>
                <div class="under-line">
                    <div class="cart_img">
                        <a data-fancybox="gallery" href="/img/complex/plan1.jpg"><img src="/img/complex/plan1.jpg"
                                                                                      alt=""></a>
                    </div>
                </div>
            </div>

            <div class="layout_cart">
                <div class="upper-line">
                    <div class="cart_view">
                        <a data-fancybox="gallery" href="/img/complex/plan2.jpg"><img src="/img/complex/view.png"
                                                                                      alt=""></a>
                    </div>
                    <div class="cart_square">
                        <div class="cart_square-numb">
                            94,7
                        </div>
                        <div class="cart_square-desc">
                            м², площадь
                        </div>
                    </div>
                    <div class="cart_room">
                        <div class="cart_room-numb">
                            3
                        </div>
                        <div class="cart_room-desc">
                            комнат
                        </div>
                    </div>
                </div>
                <div class="under-line">
                    <div class="cart_img">
                        <a data-fancybox="gallery" href="/img/complex/plan2.jpg"><img src="/img/complex/plan2.jpg"
                                                                                      alt=""></a>
                    </div>
                </div>
            </div>

            <div class="layout_cart">
                <div class="upper-line">
                    <div class="cart_view">
                        <a data-fancybox="gallery" href="/img/complex/plan3.jpg"><img src="/img/complex/view.png"
                                                                                      alt=""></a>
                    </div>
                    <div class="cart_square">
                        <div class="cart_square-numb">
                            94,2
                        </div>
                        <div class="cart_square-desc">
                            м², площадь
                        </div>
                    </div>
                    <div class="cart_room">
                        <div class="cart_room-numb">
                            3
                        </div>
                        <div class="cart_room-desc">
                            комнат
                        </div>
                    </div>
                </div>
                <div class="under-line">
                    <div class="cart_img">
                        <a data-fancybox="gallery" href="/img/complex/plan3.jpg"><img src="/img/complex/plan3.jpg"
                                                                                      alt=""></a>
                    </div>
                </div>
            </div>

            <div class="layout_cart">
                <div class="upper-line">
                    <div class="cart_view">
                        <a data-fancybox="gallery" href="/img/complex/plan1.jpg"><img src="/img/complex/view.png"
                                                                                      alt=""></a>
                    </div>
                    <div class="cart_square">
                        <div class="cart_square-numb">
                            61,4
                        </div>
                        <div class="cart_square-desc">
                            м², площадь
                        </div>
                    </div>
                    <div class="cart_room">
                        <div class="cart_room-numb">
                            2
                        </div>
                        <div class="cart_room-desc">
                            комнат
                        </div>
                    </div>
                </div>
                <div class="under-line">
                    <div class="cart_img">
                        <a data-fancybox="gallery" href="/img/complex/plan1.jpg"><img src="/img/complex/plan1.jpg"
                                                                                      alt=""></a>
                    </div>
                </div>
            </div>

            <div class="layout_cart">
                <div class="upper-line">
                    <div class="cart_view">
                        <a data-fancybox="gallery" href="/img/complex/plan2.jpg"><img src="/img/complex/view.png"
                                                                                      alt=""></a>
                    </div>
                    <div class="cart_square">
                        <div class="cart_square-numb">
                            94,7
                        </div>
                        <div class="cart_square-desc">
                            м², площадь
                        </div>
                    </div>
                    <div class="cart_room">
                        <div class="cart_room-numb">
                            3
                        </div>
                        <div class="cart_room-desc">
                            комнат
                        </div>
                    </div>
                </div>
                <div class="under-line">
                    <div class="cart_img">
                        <a data-fancybox="gallery" href="/img/complex/plan2.jpg"><img src="/img/complex/plan2.jpg"
                                                                                      alt=""></a>
                    </div>
                </div>
            </div>

            <div class="layout_cart">
                <div class="upper-line">
                    <div class="cart_view">
                        <a data-fancybox="gallery" href="/img/complex/plan3.jpg"><img src="/img/complex/view.png"
                                                                                      alt=""></a>
                    </div>
                    <div class="cart_square">
                        <div class="cart_square-numb">
                            94,2
                        </div>
                        <div class="cart_square-desc">
                            м², площадь
                        </div>
                    </div>
                    <div class="cart_room">
                        <div class="cart_room-numb">
                            3
                        </div>
                        <div class="cart_room-desc">
                            комнат
                        </div>
                    </div>
                </div>
                <div class="under-line">
                    <div class="cart_img">
                        <a data-fancybox="gallery" href="/img/complex/plan3.jpg"><img src="/img/complex/plan3.jpg"
                                                                                      alt=""></a>
                    </div>
                </div>
            </div>

        </VueSlickCarousel>
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'


export default {
    name: 'LayoutSlider',
    components: {VueSlickCarousel},
    data() {
        return {
            settings: {
                arrows: true,
                dots: false,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                    {
                        "breakpoint": 1024,
                        "settings": {
                            "slidesToShow": 3,
                            "slidesToScroll": 3,
                            "infinite": false,
                            "dots": false
                        }
                    },
                    {
                        "breakpoint": 960,
                        "settings": {
                            "slidesToShow": 2,
                            "dots": true,
                            "arrows": false,
                        }
                    },
                    {
                        "breakpoint": 480,
                        "settings": {
                            "slidesToShow": 1,
                            "dots": true,
                            "arrows": false,
                        }
                    }
                ]
            }
        }
    },
    mounted() {

    }
}
</script>

<style lang="scss" >
.layout-slick{
    button.slick-prev,  button.slick-next{
        top: -10%;
    }
    button.slick-prev{
        width: 25px;
        height: 25px;
        left: 91%;
        &:before{
            content: '';
            position: absolute;
            background-image: url("/img/complex/prev.png");
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            top: 0;
            background-size: cover;
        }
    }
    button.slick-next{
        width: 25px;
        height: 25px;
        right: 2%;
        &:before{
            content: '';
            position: absolute;
            background-image: url("/img/complex/next.png");
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            top: 0;
            background-size: cover;
        }
    }

}
</style>
