<template>
    <div>



    </div>
</template>

<script>
export default {
    props:[
        'status'
    ],
    name: "Modals",
    data(){
        return{

        }
    },
    methods:{

    },
    mounted() {
        if( this.status == "1"){
            console.log('dowlo');
            this.$swal('Успешно!', 'Сообщение успешно отправлено.', 'success');
        }
        if( this.status == "2"){
            console.log('ne dowlo');
            this.$swal('Ошибка!', 'Произошла ошибка, попробуйте позже...', 'error');
        }

    }
}
</script>

<style scoped>

</style>
