<template>
    <div class="d-flex flex-wrap">
        <content-item
            v-for="(item, index) in items"
            :texts="item.texts"
            :img="item.img"
            :index="index"
            :key="index"
        />
    </div>
</template>

<script>

    import Item from './Item.vue'

    export default {
        name: 'CompanyGuarantee',

        data: function () {
            return {
                items: [
                    {
                        texts: '<span>ВСЕ СДЕЛКИ ЗАЩИЩЕНЫ ЗАКОНОМ РК',
                        img: '/img/nout.png'
                    },
                    {
                        texts: 'ГОСУДАРСТВЕННАЯ РЕГИСТРАЦИЯ В ОРГАНАХ ЮСТИЦИИ',
                        img: '/img/magnifier.png'
                    },
                    {
                        texts: 'ГАРАНТИЯ ВОЗВРАТА ДЕНЕЖНЫХ СРЕДСТВ, В СЛУЧАЕ ПОТЕРИ ПЛАТЕЖЕСПОСОБНОСТИ, УХОДА ИЗ ЖИЗНИ, ВЫХОДА ИЗ КОМПАНИИ</span>',
                        img: '/img/clock.png'
                    }
                ]
            }
        },
        components: {
            'content-item': Item
        }
    }
</script>

<style scoped>

</style>
