<template>
    <div class="box flex-fill">
        <div class="d-flex box1">
            <div class="_left">
                <img :src="`${img}`" alt="">
            </div>
            <div class="d-flex align-items-center _right">
                <p class="text" v-html="texts">
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Item",
        props: {
            texts: {
                type: String,
                required: true,
                default: ''
            },
            index: {
                type: Number,
                required: true
            },
            img: {
                type: Object,
                required: true,
                default: ''
            }
        }
    }
</script>

<style scope lang="scss">

    .box {
        .box1 {
            height: 100%;
        }
    }

    .box:first-child {
        img {
            width: 166px;
            height: 104px;
        }
    }

    .box:nth-child(2) {
        img {
            width: 124px;
            height: 96px;
            margin-left: 11px;
            margin-right: 31px;
        }
    }

    .box:last-child {
        img {
            width: 94px;
            height: 109px;
            margin-left: 11px;
            margin-right: 31px;
        }
    }

    @media screen and (max-width: 768px) {
        .box {
            width: 100% !important;

            ._right {
                .text {
                    font-size: 13px !important;
                    line-height: 15px !important;
                    width: 175px !important;
                }
            }
        }

        .box:first-child {
            img {
                width: 134px;
                height: auto;
            }
        }

        .box:nth-child(2) {
            img {
                width: 96px;
                height: auto;
            }
        }

        .box:last-child {
            img {
                width: 77px;
                height: auto;
                margin-left: 20px;
                margin-right: 40px;
            }
        }
    }

</style>
