<template>
    <div class="form d-flex flex-column">
        <p class="title">Можете задать вопрос</p>
        <form class="needs-validation" action="/faq" method="POST">
            <input type="hidden" name="_token" :value="csrf">
            <div class="mb-3">
                <label for="full_name" class="form-label">
                    Ваше ФИО
                </label>
                <ValidationProvider name="email" rules="required" v-slot="{ errors }">
                    <input v-model="full_name" type="text" class="form-control" name="full_name"
                            id="full_name"
                            placeholder="Введите ФИО" required>
                    <span class="invalid-feedback d-inline-block" role="alert">
                        {{ errors[0] }}
                    </span>
                </ValidationProvider>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">
                    Ваш e-mail
                </label>
                <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
                    <input v-model="email" type="email" class="form-control" name="email" id="email_faq"
                            placeholder="Введите e-mail" required>
                    <span class="invalid-feedback d-inline-block" role="alert">
                        {{ errors[0] }}
                    </span>
                </ValidationProvider>
            </div>
            <div class="mb-3">
                <label for="tel" class="form-label"
                >Номер телефона
                </label>
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <the-mask v-model="tel" class="form-control" placeholder="+7" name="tel" id="tel" :mask="['+7 (###)-###-##-## ']" required></the-mask>
                    <span class="invalid-feedback d-inline-block" role="alert">
                        {{ errors[0] }}
                    </span>
                </ValidationProvider>
            </div>
            <div class="mb-3">
                <label for="question" class="form-label">
                    Что вас интересует?
                </label>
                <ValidationProvider name="question" rules="required" v-slot="{ errors }">
                <textarea v-model="question" class="form-control" name="question" id="question" rows="3"
                            placeholder="Задайте ваш вопрос" required></textarea>
                    <span class="invalid-feedback d-inline-block" role="alert">
                        {{ errors[0] }}
                    </span>
                </ValidationProvider>
            </div>
            <p class="text">Наш менеджер свяжется с вами <span>в ближайшее время</span></p>
            <button type="submit" class="btn btn-orange">Отправить</button>
            <div class="alert alert-success mt-4" role="alert" v-if="message">
                {{ message }}
            </div>
        </form>
    </div>
</template>

<script>
import {ValidationProvider, extend} from 'vee-validate';
import {required, email} from 'vee-validate/dist/rules';

extend('email', {
    ...email,
    message: 'Электронная почта недействительна'
});

extend('required', {
    ...required,
    message: 'Это поле является обязательным'
});
export default {
    props: {
        message: String
    },
    data: () => ({
        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        full_name: '',
        email: '',
        tel: '',
        question: '',
    }),
    components: {
        ValidationProvider
    }
}
</script>
