<template>
    <div class="block2 container mt50">
        <p class="subtitle">Часто задаваемые вопросы</p>
        <div class="row">
            <div class="col-md-7 col-12 pl-0 _left">
                <div class="accordion" id="faq_accordion">
                    <div class="accordion-item"
                         v-for="(item, index) in faqs"
                         :key="index"
                    >
                        <h2 class="accordion-header" :id="`faq_head_${index}`">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    :data-bs-target="`#faq_collapse_${index}`" aria-expanded="true"
                                    :aria-controls="`faq_collapse_${index}`">
                                {{ item.question }}
                            </button>
                        </h2>
                        <div :id="`faq_collapse_${index}`" class="accordion-collapse collapse" :aria-labelledby="`faq_head_${index}`"
                             data-bs-parent="#faq_accordion">
                            <div class="accordion-body">
                                {{ item.answer }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 pr-0 _right">
                <Form :message="message"/>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from './Form'

    export default {
        name: "index",
        props: {
            questions: String,
            message: String
        },
        computed: {
            payload: function () {
                return JSON.parse(this.$props.questions);
            },
            faqs: function () {
                return this.payload.filter(faq => faq.is_displayed);
            }
        },
        components: {
            Form
        }
    }
</script>

<style scoped lang="scss">
    .block2 {

        .row {
            ._left {
                padding-right: 8px
            }

            ._right {
                padding-left: 76px
            }
        }

        .accordion-button:not(.collapsed) {
            background-color: transparent;
            color: #2C2C2A;
        }

        .form {
            width: 100%;
            height: auto;
            background: #FFFFFF;
            box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 8px;
            padding: 32px;

            .title {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 40px;
                display: flex;
                align-items: center;
                color: #2C2C2A;
            }

            label {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #2C2C2A;
            }

            input {
                height: 50px;

                &:focus {
                    border: 1px solid #E97B3B;
                    box-shadow: none;
                }

                &::placeholder {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #C9D0D8;
                }
            }

            textarea {
                height: 81px;
                max-height: 100px;

                &:focus {
                    border: 1px solid #E97B3B;
                    box-shadow: none;
                }

                &::placeholder {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #C9D0D8;
                }
            }

            .text {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 10%;
                color: #2C2C2A;
                margin-bottom: 32px;

                span {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 10%;
                    color: #E97B3B;
                }
            }

            button {
                width: 100%;
                height: 44px;
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }

    @media screen and (max-width: 768px) {

        .block2 {
            .text {
                line-height: 100% !important;
            }
        }
        .row {
            ._left {
                padding-right: 0 !important;
            }

            ._right {
                padding-left: 0 !important;
                margin-top: 50px;
            }
        }
    }
</style>
