<template>
    <div class="form-s d-flex flex-column">
        <p class="title">Можете задать вопрос</p>
        <hr>
        <form class="needs-validation" action="/faq" method="POST">
            <input type="hidden" name="_token" :value="csrf">
            <div class="">
                <label for="full_name" class="form-label">
                    Ваше ФИО
                </label>
                <ValidationProvider name="email" rules="required" v-slot="{ errors }">
                    <input v-model="full_name" type="text" class="form-control" name="full_name"
                            id="full_name"
                            placeholder="Введите ФИО" required>
                    <span class="invalid-feedback d-inline-block" role="alert">
                        {{ errors[0] }}
                    </span>
                </ValidationProvider>
            </div>
            <div class="">
                <label for="email" class="form-label">
                    Ваш e-mail
                </label>
                <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
                    <input v-model="email" type="email" class="form-control" name="email" id="email"
                            placeholder="Введите e-mail" required>
                    <span class="invalid-feedback d-inline-block" role="alert">
                        {{ errors[0] }}
                    </span>
                </ValidationProvider>
            </div>
            <div class="">
                <label for="tel" class="form-label"
                >Номер телефона
                </label>
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <the-mask v-model="tel" class="form-control" placeholder="+7" name="tel" id="tel" :mask="['+7 (###)-###-##-## ']" required></the-mask>
                    <span class="invalid-feedback d-inline-block" role="alert">
                        {{ errors[0] }}
                    </span>
                </ValidationProvider>
            </div>
            <div class="">
                <label for="city" class="form-label">
                    Ваш город
                </label>
                <ValidationProvider name="city" rules="required|city" v-slot="{ errors }">
                    <input v-model="city" type="text" class="form-control" name="city" id="city"
                           placeholder="Введите город" required>
                    <span class="invalid-feedback d-inline-block" role="alert">
                        {{ errors[0] }}
                    </span>
                </ValidationProvider>
            </div>
            <p class="text">Наш менеджер свяжется с вами <span>в ближайшее время</span></p>
            <button type="submit" class="btn btn-orange w-100">Отправить</button>
            <div class="alert alert-success mt-4" role="alert" v-if="message">
                {{ message }}
            </div>
        </form>
    </div>
</template>

<script>
import {ValidationProvider, extend} from 'vee-validate';
import {required, email} from 'vee-validate/dist/rules';

extend('email', {
    ...email,
    message: 'Электронная почта недействительна'
});

extend('required', {
    ...required,
    message: 'Это поле является обязательным'
});
export default {
    props: {
        message: String
    },
    data: () => ({
        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        full_name: '',
        email: '',
        tel: '',
        city: ''
    }),
    components: {
        ValidationProvider
    }
}
</script>

<style scoped>
.form-s {
    padding: 32px 18px;
    box-shadow: 0px 0px 20px rgba(11, 11, 77, 0.15);
    border-radius: 10px;
}
.title, .needs-validation {
    padding: 0 32px;
    margin: 0;
}
.title {
    font-size: 24px;
    font-weight: 500;
}
.form-label {
    font-size: 14px;
    font-weight: 500;

}
</style>
