<template>
    <div class="block3 container mt50">
        <div class="row">
            <div
                class="col-md-6 col-12 _right"
                v-for="(item, index) in payload"
                :key="index"
            >
                <div class="d-flex flex-column ads box2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column">
                            <p class="vacancy">{{ item.name }}</p>
                            <p class="salary">от {{ setSpacer(item.salary) }} тг/мес.</p>
                        </div>
                        <a class="btn btn-orange-outline d-md-block d-none" data-bs-toggle="modal" data-bs-target="#leaveVacancyRequestModal">Отправить резюме</a>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="description">
                            {{ item.preview }}
                        </p>
                        <a class="btn btn-orange-outline d-md-none d-block"  data-bs-toggle="modal" data-bs-target="#leaveVacancyRequestModal">Отправить резюме</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VacanciesComponent",
        props: {
            vacancy: String
        },
        computed: {
            payload: function () {
                return JSON.parse(this.$props.vacancy);
            }
        },
        mounted() {
            console.log(this.$props.vacancy);
        }
    }
</script>

<style scoped lang="scss">

    .block3 {

        ._left {
            height: 430px;
            overflow-x: scroll;

            a {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 33px;
                display: flex;
                align-items: center;
                color: #2C2C2A;

                &:hover {
                    color: #E97B3B;
                }
            }
        }

        ._right {

            .ads {
                padding: 32px 40px 32px 40px;
                background: #FFFFFF;
                box-shadow: 0 0 17px rgba(11, 11, 77, 0.15);
                border-radius: 10px;
                margin-bottom: 20px;

                .vacancy {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 172.19%;
                    display: flex;
                    align-items: center;
                    color: #2C2C2A;
                    margin-bottom: 0;
                }

                .salary {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 172.19%;
                    display: flex;
                    align-items: center;
                    color: #E97B3B;
                }

                .description {
                    font-family: Circe-Regular, sans-serif;
                    font-size: 18px;
                    line-height: 24px;
                    color: #2C2C2A;
                }

                a {
                    font-family: Circe-Regular, sans-serif;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    text-transform: uppercase;

                    border: 1px solid #E97B3B;
                    border-radius: 5px;

                    width: 175px;
                    height: 35.59px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .block3 {
            .box2 {
                padding-left: 0 !important;
            }

            ._right {
                .ads {
                    padding: 24px 16px;

                    .description {
                        font-family: Roboto, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 135.9%;
                        color: #6F6F6F;
                    }
                }
            }
        }
    }
</style>
