<template>
    <div class="d-flex flex-column">
        <content-item
            v-for="(program, index) in programms"
            :key="index"
            :program="program"
            :index="index"
        />
    </div>
</template>

<script>

import Item from './Item.vue'

export default {
    name: "Programs",
    props: {
        payload: String
    },
    computed: {
        programms: function () {
            return JSON.parse(this.$props.payload);
        }
    },
    data: function () {
        return {
            items: [
                {
                    title: 'Договор по программе Доступное жилье, 2020 г.',
                }
            ]
        }
    },
    components: {
        'content-item': Item
    }
}
</script>