<template>
    <div
        class="d-flex flex-lg-row flex-column position-relative"
        :class="`program${((program.order + 1) % 2) + 1}`"
    >
        <div v-if="program.side == 'content-right'">
            <div class="ellipse-orange-1">
                <svg>
                    <use xlink:href="/img/sprite.svg#ellipse"></use>
                </svg>
            </div>
            <div class="ellipse-orange-2">
                <svg>
                    <use xlink:href="/img/sprite.svg#ellipse"></use>
                </svg>
            </div>
        </div>
        <div v-else-if="program.side == 'content-left'">
            <div class="ellipse-blue-1">
                <svg>
                    <use xlink:href="/img/sprite.svg#ellipse2"></use>
                </svg>
            </div>
            <div class="ellipse-blue-2">
                <svg>
                    <use xlink:href="/img/sprite.svg#ellipse2"></use>
                </svg>
            </div>
        </div>

        <div :class="{ '_left': program.side == 'content-right' }" :style="`background-image: url(storage/${program.image}); background-size: 70%; background-repeat: no-repeat;background-position: center top;`"/>
        <div :class="{ '_left': program.side == 'content-left', '_right': program.side == 'content-right' }">
            <p class="title">{{ program.title }}</p>
            <div v-html="program.preview"/>
            <div class="d-flex align-items-center mt-5 position-relative z-index-10">
                <button class="btn btn-orange mr-4" data-bs-toggle="modal" data-bs-target="#leaveRequestModal">Оставить заявку</button>
                <a :href="`/all-programms#program${program.id}`" class="details">Подробнее &nbsp;></a>
            </div>
        </div>
        <div :class="{ '_right' : program.side == 'content-left' }" :style="`background-image: url(storage/${program.image}); background-size: 70%; background-repeat: no-repeat;background-position: center top;`"/>
    </div>
</template>

<script>
    export default {
        name: "Item",
        props: {
            index: {
                type: Number,
                required: true,
                default: 0
            },
            program: {
                type: Object,
                required: true,
                default: ''
            }
        }
    }
</script>

<style scoped lang="scss">
@media screen and (max-width: 960px) {
    .z-index-10 {
        z-index: 10;
    }
    .program1 {
        &:after {
            content: "";
            background-image: url("/img/girl1.png");
            background-repeat: no-repeat;
            position: absolute;
            z-index: 1;
            top: -10%;
            left: 18%;
            background-size: 100%;
            width: 60%;
            height: 100%;
        }

        .ellipse-orange-1 {
            width: 110px !important;
            height: 110px !important;
            svg {
                width: 110px !important;
                height: 110px !important;
            }
        }

        .ellipse-orange-2 {
            width: 120px !important;
            height: 120px !important;
            svg {
                width: 120px !important;
                height: 120px !important;
                right: -45%;
                bottom: -45%;
            }
        }


        ._left {
            width: 0;
        }
        ._right {
            width: 100% !important;
            padding: 180px 16px 28px 16px !important;
        }
    }


    .program2 {
        &:after {
            content: "";
            background-image: url("/img/man.png");
            background-repeat: no-repeat;
            position: absolute;
            z-index: 1;
            top: -8%;
            left: 25%;
            background-size: 100%;
            width: 45%;
            height: 100%;
        }
        .ellipse-blue-1 {
            width: 110px;
            height: 110px;
            left: 0%;
            top: 0%;
            svg {
                width: 110px;
                height: 110px;
                left: -55%;
                top: -30%;
            }
        }

        .ellipse-blue-2 {
            width: 120px;
            height: 120px;
            right: 0%;
            bottom: 0%;
            svg {
                width: 110px;
                height: 110px;
                right: -35%;
                bottom: -35%;
            }
        }
        ._left {
            width: 100% !important;
            padding: 180px 16px 28px 16px !important;
        }
        ._right {
            width: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .program1, .program2 {
        margin-top: 70px;
    }
    .program1:after {
        top: -100px;
        left: -2%;
        background-size: 100%;
        width: 100%;
        height: 100%;
    }

    .program2:after {
        top: -100px;
        left: 10%;
        background-size: 100%;
        width: 75%;
        height: 100%;
    }
}

.ellipse-orange-1 {
    width: 220px;
    height: 220px;
    position: absolute;
    left: 0%;
    top: 0%;

    overflow: hidden;

    svg {
        width: 220px;
        height: 220px;
        position: absolute;
        top: -30%;
        left: -30%;
    }
}

.ellipse-orange-2 {
    width: 312px;
    height: 312px;
    position: absolute;
    right: 0%;
    bottom: 0%;

    overflow: hidden;

    svg {
        width: 312px;
        height: 312px;
        position: absolute;
        right: -30%;
        bottom: -30%;
    }
}

.ellipse-blue-1 {
    width: 275px;
    height: 275px;
    position: absolute;
    left: 0%;
    bottom: 0%;

    overflow: hidden;

    svg {
        width: 275px;
        height: 275px;
        position: absolute;
        left: -30%;
        bottom: -30%;

    }
}

.ellipse-blue-2 {
    width: 251px;
    height: 251px;
    position: absolute;
    right: 0%;
    bottom: 0%;

    overflow: hidden;

    svg {
        width: 251px;
        height: 251px;
        position: absolute;
        right: -30%;
        bottom: -30%;
    }
}

</style>
