<template>
    <div>
        <div class="row mb20">
            <div class="d-flex flex-column box1 boxiha col-2">
                <a href="/"><img width="175" height="77" :src="`/storage/${site_settings.logo}`" alt=""></a>
                <div class="d-flex mt20">
                    <img width="16" height="16" src="/img/mail.png" alt="">
                    <a :href="site_settings.gis" class="address">{{ site_settings.address }}</a>
                </div>
                <div class="d-flex align-items-center">
                    <img width="16" height="16" src="/img/phone.png" alt="">
                    <a :href="`tel:${site_settings.phone}`"><p class="phone">{{ site_settings.phone }}</p></a>
                </div>
                <div class="d-flex align-items-center">
                    <img width="16" height="16" src="/img/place.png" alt="">
                    <a href="/branches-and-terminals"><p class="terminals mb-0">Отделения и терминалы</p></a>
                </div>
            </div>
            <links-item
                v-for="(link, index) in menu_items"
                :title="link.title"
                :key="index"
            >
                <span v-for="span in link.children" :key="span.title">
                    <component :is="'regular-link'"  :title="span.title" :href="span.url"></component>
                </span>
            </links-item>

                <div class="socials d-flex justify-content-center boxiha mb-5 col-2">
                    <div class="soc_yt">
                       <a :href="site_settings.youtube">
                           <svg height="34" viewBox="-21 -117 682.66672 682" width="34" xmlns="http://www.w3.org/2000/svg"><path d="m626.8125 64.035156c-7.375-27.417968-28.992188-49.03125-56.40625-56.414062-50.082031-13.703125-250.414062-13.703125-250.414062-13.703125s-200.324219 0-250.40625 13.183593c-26.886719 7.375-49.03125 29.519532-56.40625 56.933594-13.179688 50.078125-13.179688 153.933594-13.179688 153.933594s0 104.378906 13.179688 153.933594c7.382812 27.414062 28.992187 49.027344 56.410156 56.410156 50.605468 13.707031 250.410156 13.707031 250.410156 13.707031s200.324219 0 250.40625-13.183593c27.417969-7.378907 49.03125-28.992188 56.414062-56.40625 13.175782-50.082032 13.175782-153.933594 13.175782-153.933594s.527344-104.382813-13.183594-154.460938zm-370.601562 249.878906v-191.890624l166.585937 95.945312zm0 0" fill="#ABABAB"/></svg>
                       </a>
                    </div>
                    <div class="soc_fb">
                       <a :href="site_settings.facebook"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C2.23858 0 0 2.23858 0 5V19C0 21.7614 2.23858 24 5 24H19C21.7614 24 24 21.7614 24 19V5C24 2.23858 21.7614 0 19 0H5ZM10.5642 23.2727H14.8202V13.9993H17.6603L18.0373 10.4267H14.8202L14.8254 8.63999C14.8254 7.70821 14.9138 7.20938 16.2422 7.20938H18.0179V3.63638H15.1779C11.7651 3.63638 10.5642 5.37041 10.5642 8.28343V10.4271H8.43726V13.9993H10.5642V23.2727Z" fill="#ABABAB"/>
                        </svg></a>
                    </div>
                    <div class="soc_inst">
                       <a :href="site_settings.instagram"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.8452 24H8.14451C6.24894 23.9979 4.43163 23.2439 3.09131 21.9035C1.75099 20.563 0.997123 18.7457 0.995117 16.8501L0.995117 7.14939C0.997256 5.25391 1.75118 3.43668 3.09149 2.09637C4.43179 0.756063 6.24903 0.00213907 8.14451 0L17.8452 0C19.7408 0.00200539 21.5582 0.75587 22.8986 2.09619C24.239 3.43651 24.993 5.25382 24.9951 7.14939V16.8501C24.9931 18.7458 24.2392 20.5632 22.8987 21.9036C21.5583 23.2441 19.7409 23.998 17.8452 24ZM8.14451 2.41394C6.88904 2.41541 5.68541 2.9148 4.79766 3.80255C3.90991 4.6903 3.41053 5.89392 3.40906 7.14939V16.8501C3.41053 18.1055 3.90993 19.3091 4.79769 20.1968C5.68546 21.0844 6.88908 21.5837 8.14451 21.5851H17.8452C19.1006 21.5837 20.3042 21.0844 21.1919 20.1967C22.0795 19.3091 22.5788 18.1055 22.5802 16.8501V7.14939C22.5788 5.89397 22.0796 4.69034 21.1919 3.80258C20.3042 2.91481 19.1006 2.41541 17.8452 2.41394H8.14451ZM12.9936 18.2063C11.7661 18.2059 10.5662 17.8416 9.54576 17.1593C8.52531 16.477 7.73008 15.5075 7.26062 14.3732C6.79116 13.239 6.66856 11.9911 6.90832 10.7872C7.14809 9.58329 7.73944 8.47752 8.60761 7.6097C9.47579 6.74188 10.5818 6.15098 11.7858 5.91171C12.9898 5.67243 14.2377 5.79554 15.3717 6.26546C16.5057 6.73537 17.4749 7.531 18.1568 8.55173C18.8387 9.57247 19.2026 10.7725 19.2025 12C19.2009 13.6458 18.5463 15.2236 17.3826 16.3873C16.2188 17.551 14.6409 18.2054 12.9951 18.2068L12.9936 18.2063ZM12.9936 8.20508C12.2434 8.20508 11.5101 8.42753 10.8864 8.8443C10.2626 9.26107 9.77649 9.85344 9.48942 10.5465C9.20234 11.2396 9.12723 12.0022 9.27358 12.7379C9.41993 13.4737 9.78117 14.1495 10.3116 14.68C10.8421 15.2104 11.5179 15.5717 12.2536 15.718C12.9894 15.8644 13.752 15.7892 14.4451 15.5022C15.1381 15.2151 15.7305 14.7289 16.1473 14.1052C16.5641 13.4815 16.7865 12.7481 16.7865 11.998C16.7849 10.993 16.3849 10.0296 15.6742 9.31901C14.9635 8.60842 14.0001 8.20857 12.9951 8.2071L12.9936 8.20508ZM19.2126 7.32466C18.9184 7.32456 18.6308 7.23722 18.3862 7.07368C18.1416 6.91014 17.9511 6.67775 17.8386 6.4059C17.7261 6.13405 17.6967 5.83494 17.7542 5.5464C17.8117 5.25786 17.9535 4.99285 18.1616 4.78488C18.3697 4.57691 18.6348 4.43532 18.9234 4.37802C19.2119 4.32072 19.511 4.35028 19.7828 4.46297C20.0546 4.57565 20.2868 4.76639 20.4502 5.01108C20.6136 5.25576 20.7007 5.54339 20.7006 5.83761C20.7006 6.2321 20.5441 6.61047 20.2654 6.88965C19.9867 7.16883 19.6086 7.32601 19.2141 7.32668L19.2126 7.32466Z" fill="#ABABAB"/>
                        </svg></a>
                    </div>
                </div>
        </div>
        <div class="d-flex flex-column under">
            <div class="line"></div>
            <div class="d-flex">
                <p class="under-text mr-auto">
                    &copy; 2020, {{ site_settings.name }}
                </p>
                <p class="under-text">
                    Разработано в&nbsp;<a href="https://nidge.kz/">NIDGE Digital Agency</a>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import Item from './Item.vue'
    import RegularLink from './RegularLink';
    import SocialLink from './SocialLink';

    export default {
        name: 'Links',
        props: {
            items: String,
            site: String
        },
        computed: {
            menu_items: function () {
                return JSON.parse(this.$props.items);
            },
            site_settings: function () {
                return JSON.parse(this.$props.site);
            }
        },
        components: {
            'links-item': Item,
            'regular-link': RegularLink,
            'social-link': SocialLink,
        }
    }
</script>

<style scoped>

.boxiha {
    padding: 0;
}

</style>
