<template>
    <div class="d-flex justify-content-center boxiha mt-3 col-2">
        <div class="d-flex flex-column">
            <p class="head">{{ title }}</p>
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'LinksItem',

        props: {
            title: {
                type: String,
                required: true,
                default: 'Продажа',
            },
        }
    }
</script>

<style scoped>

.boxiha {
    padding: 0;
}

</style>
