<template>
    <a :href="href" class="text">{{ title }}</a>
</template>

<script>
    export default {
        name: 'RegularLink',
        props: {
            title: {
                type: String,
                default: '',
                required: true
            },
            href: {
                type: String,
                default: '#',
                required: true
            }
        }
    }
</script>

<style scoped>

</style>
